@import './variables';
@import './mixins';
//Extends
%t-1-row {
  padding: 1rem 0;
  border-bottom: 1px 1em solid;
  @include transition(0.25s);
  &:hover {
    background-color: darken($white, 1%);
  }
}

//General Style

.table-2 {
  margin: 2.5% auto;
  padding: 2em 2em;
  background-color: $white;
  border: 1px 1em solid;
  border-radius: 10px;

  & .datatable-header {
    @extend %t-1-row;
    padding: 1.25% 5%;
    border-top: $blue-gray;
    color: $font;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    background-color: $table-header-bg;
  }
  & .datatable-body-row {
    @extend %t-1-row;
    padding: 1.25% 5%;
    border-bottom: 1px solid $table-border;
    font-size: 16px;
  }

  & .datatable-body-cell-red {
    color: $red;
  }

  & .icon {
    @include flex(row, center, center);
    height: 30px;
    width: 30px;
    background-color: #1479FB;
    border-radius: 8px;
    cursor: pointer;
    transition: all 250ms;
    &:hover {
      background-color: rgba(20, 120, 251, 0.25);
    }
    &>img {
      height: 50%;
    }
  }
}
