@import "./variables";
@import "./mixins";

p {
  font-size: 16px;
  @include for-size(tablet-portrait-up) {
    font-size: 18px;
  }
  @include for-size(desktop-up) {
    font-size: 20px;
  }
}

h2 {
  color: $font-gray;
}

.txt-small {
  font-size: 12px;
  @include for-size(tablet-portrait-up) {
    font-size: 12px;
  }
  @include for-size(desktop-up) {
    font-size: 14px;
  }
  &.-red {
    color: $red;
  }
  &.-link {
    color: $light-blue;
    text-decoration: underline;
    cursor: pointer;
  }
  &.-notification{
    color: white;
    &.-alert{
      background-color: $yellow;
      margin: 1em;
      border-radius: 2em;
    }
  }
}

.-bold {
  font-weight: 700;
}

.-light {
  font-weight: 300;
}

.-gray {
  color: $font-gray;
}
.-blue {
  color: $blue;
}