$white: #ffffff;
$black: #000000;
$font: #333e58;
$font-gray: #a4afbb;
$bg: #f5f5fb;
$light-bg: #E9EBEE40;
$table-border: #D9E0E6;
$light-red: #ffe1db;
$red: #e35558;
$blue: #13365b;
$light-blue: #1479fb;
$lighter-blue: #e9f5ff;
$blue-gray: #a4afbb;
$light-yellow: #feeebe;
$yellow: #feb44e;
$table-header-bg: #F9FAFB;



$division-1: 1px solid #d7e1e7;
$division-1-color: #D7E1E7;
$light-blue-3: #E5F5FF;
