<div class="table">
	<div class="table-2 admin">
		<div class="top-bar">
			<div class="left">
				<h1>Clientes</h1>
			</div>
			<div class="right">
				<button class="blue" (click)="generateCSV()">
					<img src="/assets/admin-flecha-dl.svg" alt="" class="button-icon" />
					Descargar csv
				</button>
			</div>
		</div>
		<ngx-3a-datatable #datatable *ngIf="options" [datatableOptions]="options"> </ngx-3a-datatable>
		<div class="empty-data-ui" *ngIf="showMessageEmptyData && !showLoading">
			<img src="/assets/sin_informacion.svg" alt="">
			<div class="text">
			  Por ahora no hay clientes registrados
			</div>
		  </div>
		  <div class="loader" *ngIf="showLoading"></div>
	</div>
</div>

<ng-template #fileDownload let-row="row" let-value="value">
	<a [href]="value" class="icon" target="_blank" download>
		<img src="/assets/flecha-dl.svg" alt="" />
	</a>
</ng-template>
