<div class="content">
  <div class="title">Filtros</div>

  <div class="options">
    <div class="item">
      <div class="input">
        <input type="number" [(ngModel)]="payload.document" placeholder="Buscar por cedula del cliente" [ngModelOptions]="{ standalone: true }" />
      </div>
    </div>

    <div *ngIf="payload.filterOptions">
      <div class="filter-option" *ngFor="let opt of payload.filterOptions">
        <div class="icon-bg">
          <img src="/assets/admin-desembolso.svg" alt="" />
        </div>
        <label>{{ opt.label }}</label>
        <div class="radio">
          <input type="radio" name="filter" [value]="opt.value" [(ngModel)]="payload.custom" />
          <span class="radio-look"></span>
        </div>
      </div>
    </div>
    <hr />
    <label class="mount">Monto desembolsado</label>
    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
    <hr />
    <label class="mount">Fecha</label>
    <div class="dates-container">
      <div class="input-1">
        <label for="initial">De</label>
        <input
          type="text"
          [(ngModel)]="payload.minDate"
          [matDatepicker]="initialPicker"
          id="initial"
          (focus)="initialPicker.open()"
          (click)="initialPicker.open()"
        />
        <mat-datepicker #initialPicker></mat-datepicker>
      </div>
      <div class="input-1">
        <label for="final">Hasta</label>
        <input type="text" [(ngModel)]="payload.maxDate" [matDatepicker]="finalPicker" id="final" (focus)="finalPicker.open()" (click)="finalPicker.open()" />
        <mat-datepicker #finalPicker></mat-datepicker>
      </div>
    </div>
    <hr />
  </div>

  <div class="search">
    <button class="btn-1 -secondary" type="button" (click)="resetFilter()">Limpiar</button>
    <button class="btn-1" (click)="search()">Buscar</button>
  </div>
</div>
