@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";
@import "~src/styles/app.scss";
:host{
  overflow: hidden;
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  cursor: initial;
  .mount {
    margin: 10px 0;
  }

  hr {
    margin: 10px 0;
  }
}

.title {
  font-weight: 600;
  margin: 0 !important;
}

.subtitle {
  font-weight: 500;
}

.options {
  height: calc(100% - 126px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
    .item {
    @include flex(row, flex-start, space-between);
    margin: 0 0 15px 0;
    .input {
      width: 100%;
      input {
        width: 100%;
        padding: 0;
        height: 40px;
        border: 2px solid $table-border;
        padding: 10px;
        border-radius: 14px;
      }
    }
  }

  .filter-option {
    width: 100%;
    margin-bottom: 8px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    label {
      width: 50%;
      margin: 0;
      float: left;
    }
    .radio {
      width: 50%;
      height: 25px;
      float: right;
      text-align: right;
      display: block;
      position: relative;
      input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      .radio-look {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid gray;
        border-radius: 50%;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: -10%;
          top: -12%;
          border-radius: 50%;
        }
      }

      input:checked + .radio-look:after {
        background: #f7f5f5;
        border: 3px solid $light-blue;
        width: 17px;
        height: 17px;
      }
    }
    .icon-bg {
      height: 2em;
      width: 2em;
      background-color: #e9f5ff;
      margin-right: 0.5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      img {
        height: 50%;
      }
    }
  }
}

.dates-container {
  margin-bottom: 1rem;
  display: flex;
  .input-1 > input {
    width: 78% !important;
    padding: 5px 15px !important;
    text-align: center;
  }
}
ng5-slider::ng-deep {
  .ng5-slider-selection {
    background-color: $light-blue;
  }
  .ng5-slider-pointer {
    background-color: #fff;
    border: 1px solid $font-gray;
  }
  .ng5-slider-pointer.ng5-slider-active:after {
    background-color: $light-blue;
  }
}
.search {
  display: flex;
  justify-content: flex-end;
  button:nth-child(1) {
    margin: 0 20px;
  }
}
