<div class="content">
  <div class="title">Desembolsos</div>
  <div class="time-line">
    <div class="item" *ngFor="let ot of payload.loan.outlay; let i = index">
      <div class="line-cnt">
        <div
          class="icon"
          [ngClass]="{ dlv: ot.delivered, cur: currentOutlay.index === i }"
        >
          <img src="/assets/Loan/Check.svg" alt="" *ngIf="ot.delivered" />
        </div>
        <div class="line-2" [ngClass]="{ dlv: ot.delivered }"></div>
      </div>
      <div class="item-cnt">
        <div class="-gray">{{ ot.date.toDate() | date: "d MMM,yyyy" }}</div>
        <div class="-bold" [ngClass]="{ '-gray': !ot.delivered }">
          {{ ot.amount | currency: "$":"symbol":"1.0-0":'CO' }}
        </div>
      </div>
    </div>
  </div>
  <div class="division"></div>
  <div class="data">
    <div class="title">Próximo desembolso</div>
    <button>Editar desembolsos</button>
  </div>

  <div class="data">
    <div class="info">
      <div class="input-1  -readonly">
        <label for="">
          Desembolso
        </label>
        <input
          disabled
          type="text"
          [value]="currentOutlay.amount | currency: '$':'symbol':'1.0-0'"
        />
      </div>
      <div class="input-1  -readonly">
        <label for="">
          Fecha de desembolso
        </label>
        <input
          disabled
          type="text"
          [value]="currentOutlay.date.toDate() | date"
        />
      </div>
      <div class="input-1  -readonly">
        <label for="">
          Estado
        </label>
        <input disabled type="text" [value]="'Sin realizar'" />
      </div>
    </div>
    <button>Cancelar desembolsos</button>
  </div>

  <div class="controls">
    <button class="save" (click)="cancel()">Volver</button>
  </div>
</div>
