@import '~src/styles/partials/variables';
@import '~src/styles/partials/mixins';

.content {
  width: 100%;
}

.title {
  font-weight: 600;
}

.controls {
  margin-top: 30px;
  width: 100%;
  @include flex(row, flex-end, flex-end);

  >.back {
    border: $light-blue solid 2px;
    border-radius: 10px;
    background-color: $lighter-blue;
    color: $light-blue;
    padding: 0 30px;
    margin-right: 30px;
  }

  >.save {
    border-radius: 10px;
    background-color: $light-blue;
    color: $white;
    padding: 0 30px;
  }
}

.time-line {
  display: flex;
  overflow-x: auto;

  &>.item {
    @include flex(column, flex-start, flex-start);

    &>.item-cnt {
      margin-top: 15px;

      &>div:first-child {
        font-size: 0.7rem;
      }
    }

    &>.line-cnt {
      width: 200px;
      @include flex(row, center, flex-start);

      >.icon {
        background-color: $division-1-color;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        @include flex(row, center, center);

        &.dlv {
          background-color: $light-blue;
        }

        >img {
          width: 58%;
        }

        &.cur {
          height: 30px;
          width: 30px;
          background-color: $white;
          border-radius: 15px;
          border: solid 5px $light-blue;

        }
      }

      >.line-2 {
        background-color: $division-1-color;
        height: 5px;
        width: 189px;

        &.dlv {
          background-color: $light-blue;
        }
      }
    }
  }
}

.division {
  width: 100%;
  height: 1px;
  background-color: $division-1-color;
  margin: 40px 0;

}

.data {
  @include flex(row, flex-start, space-between);

  >.info {
    @include flex(row, flex-start, flex-start);

    &>.input-1>input {
      padding: 0;
    }
  }

  >button {
    border: $light-blue solid 2px;
    border-radius: 10px;
    background-color: $lighter-blue;
    color: $light-blue;
    padding: 0 30px;
  }


}
