<div class="content">
  <span class="title">Agrega un nuevo archivo adjunto del agricultor</span>

  <div class="input">
    <input type="text" [disabled]="inputDisabled" [(ngModel)]="nameFile" placeholder="Agrega un nombre al documento" [ngModelOptions]="{ standalone: true }" />
    <span *ngIf="showErrorInput" class="error animated fadeIn">El campo nombre del documento no puede estar vacio</span>
  </div>

  <div class="main" appDragAndDropFile (fileDropped)="uploadFileAttachment($event)">
    <div class="one animated" *ngIf="!file" [ngClass]="{ fadeOutLeftBig: file }">
      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="uploadFileAttachment($event.target.files[0])" />
      <img src="/assets/file-up-icon.png" alt="" />
      <span>Arrastrar y soltar aquí </span>
      <label for="fileDropRef">o buscar el archivo</label>
    </div>
    <div class="two animated" *ngIf="file" [ngClass]="{ fadeInRightBig: file }">
      <img src="/assets/alerta.svg" alt="" />
      <span>Su archivo {{ file.name }} fue cargado con éxito</span>
    </div>
  </div>
  <span *ngIf="showErrorImg" class="error animated fadeIn">Solo se permiten archivos con las extenciones JPG, JPEG, PNG, XLSX, DOCX o PDF</span>
  <div class="loader-container" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <div class="wrapper-buttons">
    <button class="btn-1 -secondary" type="button" (click)="close()">Cerrar</button>
    <button class="btn-1" (click)="confirmAction()">Aceptar</button>
  </div>
</div>
