@import "~src/styles/loan.scss";
@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";

.content {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  position: relative;
  .error{
    color: rgb(204, 33, 33);
    display: block;
    margin: 10px 0 ;
  }
  .input {
    width: 50%;
    margin-bottom: 20px;
    input {
      width: 100%;
      padding: 0;
      height: 40px;
      border: 2px solid $table-border;
      padding: 10px;
      border-radius: 14px;
    }
  }
  .title {
    display: block;
  }
  .main {
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    border: 2px dashed $font-gray;
    .one {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input {
        opacity: 0;
        position: absolute;
        width: 0;
        left: 0;
        top: 0;
      }
      img {
        width: 40px;
        height: 40px;
      }
      label {
        cursor: pointer;
      }
    }

    .two {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }

      span {
        display: block;
        margin: 15px 0;
      }
    }
  }

  .loader-container {
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .loader {
      left: 38%;
      top: 38%;
    }
  }

  .fileover {
    animation: dashed 700ms ease-in infinite;
    border: 2px dashed;
  }

  @keyframes dashed {
    0% {
      border-color: $font-gray;
    }
    50% {
      border-color: $light-blue;
    }
    100% {
      border-color: $font-gray;
    }
  }

  .wrapper-buttons {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0 15px;
    }
  }
}
