<div class="content">
  <div class="title-bar">
    <h1>Historial del crédito</h1>
  </div>

  <div class="credit-event" *ngFor="let event of events" [ngSwitch]="event.type">
    <ng-container *ngSwitchCase="'outlay'">
      <a class="icon yellow" target="_blank" download>
        <img src="/assets/desembolso.svg" alt="">
      </a>
      <div class="events-container">
        <h2>Desembolso</h2>
        <div class="event-detail">
          <h3>Total desembolso</h3>
          <p>{{event.amount | currency:"$":"symbol":"1.0-0":'CO'}}</p>
        </div>
        <div class="event-detail">
          <h3>Fecha</h3>
          <p>{{event.date}}</p>
        </div>
      </div>
    </ng-container>


    <ng-container *ngSwitchCase="'bill'">
      <a class="icon blue" target="_blank" (click)="openInvoice(event.id)" download>
        <img src="/assets/factura.svg" alt="">
      </a>
      <div class="events-container">
        <h2>Factura</h2>
        <div class="event-detail">
          <h3>Monto</h3>
          <p>{{event.amount | currency:"$":"symbol":"1.0-0":'CO'}}</p>
        </div>
        <div class="event-detail">
          <h3>Número</h3>
          <p>{{event.obj.name}}</p>
        </div>
        <div class="event-detail">
          <h3>Fecha</h3>
          <p>{{event.date}}</p>
        </div>
        <div class="event-detail">
          <h3>Plazo para pago</h3>
          <p>{{event.obj.expDate}}</p>
        </div>
        <div class="event-detail">
          <h3>Estado</h3>
          <p>{{event.obj.status}}</p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'quote'">
      <a class="icon blue" target="_blank" download>
        <img src="/assets/factura.svg" alt="">
      </a>
      <div class="events-container">
        <h2>Cuota</h2>
        <div class="event-detail">
          <h3>Número</h3>
          <p>{{event.obj.name}}</p>
        </div>
        <div class="event-detail">
          <h3>Fecha</h3>
          <p>{{event.date}}</p>
        </div>
      </div>
    </ng-container>


    <ng-container *ngSwitchCase="'debt'">
      <a class="icon red" target="_blank" download>
        <img src="/assets/mora.svg" alt="">
      </a>
      <div class="events-container">
        <h2>Mora</h2>
        <div class="event-detail">
          <h3>Total mora</h3>
          <p>{{event.obj.amount | currency:"$":"symbol":"1.0-0":'CO'}}</p>
        </div>
        <div class="event-detail">
          <h3>Desde</h3>
          <p>{{event.obj.expDate}}</p>
        </div>
        <div class="event-detail">
          <h3>Estado</h3>
          <p>{{event.obj.status}}</p>
        </div>
        <div class="event-detail">
          <h3>Días en mora</h3>
          <p>{{event.obj.daysInDebt}}</p>
        </div>
      </div>
    </ng-container>
  </div>

<ng-template #fileDownload let-row="row" let-value="value">
  <a [href]="value" class="icon" target="_blank" download>
    <img src="/assets/flecha-dl.svg" alt="">
  </a>
</ng-template>
