@import "~src/styles/app.scss";

.content {
  margin: 2em;

  .title-bar {
    margin-bottom: 3em;
    padding-top: 2em;
  }

  .credit-event {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    padding: 2em 3em;
    display: flex;
    margin-bottom: 2em;
    h2 {
      color: $font;
      font-weight: 600;
    }
    h3 {
      color: $font-gray;
      font-weight: 600;
      font-size: 14px;
    }
    p {
      color: $font;
      font-weight: 600;
    }
    & .icon {
      @include flex(row, center, center);
      height: 30px;
      width: 30px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 250ms;
      &.blue {
        background-color: $lighter-blue;
      }
      &.red {
        background-color: $light-red;
      }
      &.yellow {
        background-color: $light-yellow;
      }
      &:hover {
        background-color: rgba(20, 120, 251, 0.25);
      }
      & > img {
        height: 50%;
      }
    }
    & > .events-container {
      margin-left: 1em;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      & h2:first-child {
        width: 100%;
        padding-bottom: 0.5em;
      }
      & .event-detail {
        margin-right: 0;
      }
    }
  }
}
