<div class="content">
    <div class="step animated fadeIn" *ngIf="currentStep === 0">
        <div class="title">Realizar conciliación</div>
        <div class="sub-title">Debes adjuntar el extracto de Bancolombia con todos los ingresos</div>
        <div class="drag-and-drop">
            <div class="text">
                <img src="/assets/Loan/Account-Type.svg" alt="">
                <span>Adjuntar conciliación</span>
            </div>
            <div class="main" appDragAndDropFile (fileDropped)="fileConciliation($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple
                    (change)="fileConciliation($event.target.files[0])">
                <img src="/assets/file-up-icon.png" alt="">
                <span>Arrastrar y soltar aquí </span>
                <label for="fileDropRef">o buscar el archivo</label>
            </div>
        </div>
    </div>

    <div class="step animated fadeIn" *ngIf="currentStep === 1">
        <div class="title">{{countConciliation}} Facturas conciliadas</div>

        <div class="alert-no-conciliations">
            <div class="one">
                <img src="/assets/alerta-dark.svg" alt="">
                <span>{{noConciliations.length}} Facturas no conciliadas </span>
            </div>

            <div class="two">
                <!-- <button class="btn-1">
                    <img src="/assets/admin-flecha-dl.svg" alt="">
                    Descargar
                </button> -->
            </div>
        </div>

        <div class="table-2">
            <ngx-3a-datatable #datatable1 *ngIf="optionsTable1" [datatableOptions]="optionsTable1">
            </ngx-3a-datatable>
        </div>
    </div>

    <div class="step animated fadeIn" *ngIf="currentStep === 2">
        <div class="title">Realizar conciliación manual</div>
        <div class="sub-title">Ingrese el número de la cédula del agricultor</div>

        <div class="search-farmer">
            <form action="" [formGroup]="searchFormGroup">

                <div class="input-1" style="margin-bottom: 1rem;">
                    <label>
                        <img src="/assets/Loan/Name.svg" alt="" />
                        <span class="placeholder">Cedula</span>
                    </label>
                    <input type="text" formControlName="cc" />
                    <div *ngIf="errorMessage">
                        <div class="light form-error">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="data-transaction">
            <div class="item-header">
                <img src="/assets/Loan/Fee.svg" alt="">
                <span># Transacción</span>
            </div>
            <div class="item-header">
                <img src="/assets/Loan/Periodicity.svg" alt="">
                <span> Fecha</span>
            </div>
            <div class="item-header">
                <img src="/assets/Loan/Amount.svg" alt="">
                <span> Monto</span>
            </div>
            <div class="item-header">
                <img src="/assets/Loan/Deal.svg" alt="">
                <span> Concepto</span>
            </div>
            <div class="item-body">
                <span>{{recepitSelectToConciliationManual['transaction']}}</span>
            </div>
            <div class="item-body">
                <span>{{recepitSelectToConciliationManual['date']  | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES"}}</span>
            </div>
            <div class="item-body">
                <span>{{recepitSelectToConciliationManual['amount']}}</span>
            </div>
            <div class="item-body">
                <span>{{recepitSelectToConciliationManual['concept']}}</span>
            </div>
        </div>
        <div class="table-2">
            <ngx-3a-datatable #datatable2 *ngIf="optionsTable2" [datatableOptions]="optionsTable2">
            </ngx-3a-datatable>
        </div>
    </div>

    <div class="step animated fadeIn" *ngIf="currentStep === 3">
        <div class="wrapper-final-step">
            <div class="one">
                <img src="/assets/Alerta- Conciliacion manual.svg" alt="">
            </div>
            <div class="two">
                <div class="title">Conciliación manual </div>
                <div class="sub-title">¿Estas seguro que deseas realizar la conciliación manual de
                    {{dataToConfirmConcilitation.farmer.PrimerNombre + ' ' + dataToConfirmConcilitation.farmer.PrimerApellido}}
                    por un monto de
                    ${{recepitSelectToConciliationManual.amount}}</div>
                <div class="controls">
                    <button class="btn-1 -secondary" (click)="back()">No, volver</button>
                    <button (click)="generateManualConciliation()" class="btn-1">Si, realizar conciliación</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loader-container" *ngIf="loading">
        <div class="loader"></div>
    </div>

    <div class="controls">
        <button class="btn-1 -secondary" (click)="back()">Volver</button>
        <button class="btn-1">Continuar</button>
    </div>
</div>



<ng-template #openManualConciliationButton let-row="row" let-value="value">
    <a (click)="openManualConciliation(row)" class="icon" target="_blank">
        <img src="/assets/Conciliar.svg" alt="" />
    </a>
</ng-template>

<ng-template #generateManualConciliationButton let-row="row" let-value="value">
    <a (click)="confirmConciliation(row)" class="icon" target="_blank">
        <img src="/assets/Conciliar.svg" alt="" />
    </a>
</ng-template>

<ng-template #fileDownload let-row="row" let-value="value">
    <a (click)="openManualConciliation(row)" class="icon" target="_blank">
        <img src="/assets/Conciliar.svg" alt="" />
    </a>
</ng-template>


<ng-template #money let-row="row" let-value="value">
    {{ value | currency: "$":"symbol":"1.0-0":'CO' }}
</ng-template>

<ng-template #date let-row="row" let-value="value">
    {{ value | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES" }}
</ng-template>