@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";

.content {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  position: relative;

  .step {
    overflow-y: auto;
    padding: 0 20px;
    min-height: 200px;
    .title {
      font-weight: 600;
      margin-bottom: 10px;
    }
    .sub-title {
      color: $font-gray;
      font-size: 0.9rem;
      margin-bottom: 24px;
    }
    .drag-and-drop {
      .text {
        margin-bottom: 10px;
        img {
          width: 25px;
          height: 22px;
          margin-right: 7px;
        }
        span {
          font-size: 0.9rem;
        }
      }
      .main {
        cursor: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 30px;
        position: relative;
        border: 2px dashed $font-gray;
        input {
          opacity: 0;
          position: absolute;
          width: 0;
          left: 0;
          top: 0;
        }
        img {
          width: 35px;
          height: 35px;
        }
        label {
          cursor: pointer;
        }
      }

      .fileover {
        animation: dashed 700ms ease-in infinite;
        border: 2px dashed;
      }

      @keyframes dashed {
        0% {
          border-color: $font-gray;
        }
        50% {
          border-color: $light-blue;
        }
        100% {
          border-color: $font-gray;
        }
      }
    }

    .alert-no-conciliations {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: solid 1px $font-gray;
      border-radius: 15px;
      padding: 15px;
      .one {
        display: flex;
        align-items: center;
        img {
          width: 26px;
          height: 26px;
          margin: 0 10px 0 0;
        }
        span {
          color: $font;
        }
      }

      .two {
        .save {
          display: flex;
          align-items: center;
          height: 40px;
          img {
            width: 15px;
            height: 17px;
            margin: 0 10px 0 0;
          }

          border-radius: 10px;
          background-color: $light-blue;
          color: $white;
          padding: 0px 20px;
        }
      }
    }

    .data-transaction {
      height: 90px;
      background: 0px;
      background: #f5f5fb;
      padding: 10px 22px;
      border-radius: 20px;
      border: 1px solid #e6ebf1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px 10px;
      grid-template-areas: ". . ." ". . .";

      .item-header {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        img {
          width: 20px;
          margin: 0 5px;
        }
        span {
          color: #a9b3be;
        }
      }
      .item-body {
        color: #2a3c58;
      }
    }

    .table-2 {
      padding: 0;
    }

    .wrapper-final-step {
      top: 0;
      left: 0;
      align-items: center;
      padding: 63px;
      position: absolute;
      height: 100%;
      width: 100%;
      min-height: 400px;
      background: #fff;
      display: flex;
      img {
        width: 200px;
      }
    }
  }

  .loader-container {
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .loader {
      left: 38%;
      top: 38%;
    }
  }
}

.controls {
  margin-top: 30px;
  width: 100%;
  @include flex(row, flex-end, flex-end);

  button {
    margin: 0 10px;
  }

  .light-blue {
    background-color: $lighter-blue;
    color: $light-blue;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid $light-blue;
  }
}

.icon {
  @include flex(row, center, center);
  height: 30px;
  width: 30px;
  border-radius: 8px;
  cursor: pointer;
  background-color: $lighter-blue;
  border: 2px solid $light-blue;
  transition: all 250ms;
  &:hover {
    background-color: rgba(20, 120, 251, 0.25);
  }
  & > img {
    height: 50%;
  }
}
