<div class="content" style=" max-height: 90vh;">
  <div class="title">Amortización</div>

  <div class="table-2">
    <ngx-3a-datatable *ngIf="options" [datatableOptions]="options">
    </ngx-3a-datatable>
  </div>

  <div class="controls">
    <button class="back" (click)="cancel()">Volver</button>
  </div>
</div>
<ng-template #date let-row="row" let-value="value">
  <!--  {{ value.toDate() | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES" }} -->
  {{value | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES"}}
</ng-template>

<ng-template #money let-row="row" let-value="value">
  {{ value | currency: "$":"symbol":"1.0-0":'CO' }}
</ng-template>

<ng-template #total let-row="row" let-value="value">
  {{ row.amount + row.taxAmount | currency: "$":"symbol":"1.0-0":'CO' }}
</ng-template>