@import "~src/styles/loan.scss";
@import '~src/styles/partials/variables';
@import '~src/styles/partials/mixins';

:host{
  width: 70% !important;
}

.content {
  width: 100%;
  overflow: hidden !important;
}

.title {
  font-weight: 600;
}

.controls {
  margin-top: 30px;
  width: 100%;
  @include flex(row, flex-end, flex-end);

  >.back {
    border: $light-blue solid 2px;
    border-radius: 10px;
    background-color: $lighter-blue;
    color: $light-blue;
    padding: 0 30px;
    margin-right: 30px;
  }

  >.save {
    border-radius: 10px;
    background-color: $light-blue;
    color: $white;
    padding: 0 30px;
  }
}

.table-2 {
  margin: 0;
}
