@import "~src/styles/loan.scss";
@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .content {
    margin: 20px 0;
    height: 100%;
    h2 {
      color: #354661;
      font-size: 22px;
      font-weight: 600;
    }
    .wrapper-info {
      margin: 20px 0;
      background-color: #ffff;
      padding: 0 20px;
      border-radius: 20px;
      overflow-y: auto;
      overflow-y: auto;
      height: calc(100% - 106px);
      .photo-farmer {
        width: 160px;
        height: 160px;
        border-radius: 100%;
        margin: 20px auto;
        position: relative;
        svg {
          position: absolute;
          circle {
            stroke-dasharray: 472;
            stroke-width: 8px;
            // stroke: $light-blue;
            fill: #fff;
            transform: translate(0px, 160px) rotate(270deg);
            transition: 2500ms;
          }
        }
        .profile-photo {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          padding: 8px;
          position: absolute;
        }
        input {
          height: 0;
          overflow: hidden;
          width: 0;
          z-index: -10;
          padding: 0;
        }

        label {
          cursor: pointer;
          background-color: $light-blue;
          overflow: hidden;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          padding: 5px;
          position: absolute;
          right: 20px;
          bottom: 0px;
          margin: 0;
          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }
      }

      .data-store {
        padding: 20px 0;
        .title {
          font-size: 21px;
          color: #333e58;
          margin: 20px 0;
          display: block;
          width: 100%;
          font-weight: 700;
        }
        .row-data {
          width: 90%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 10px;
          grid-row-gap: 10px;

          .title-row {
            font-weight: 700;
          }
        }
      }

      form {
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .title {
          font-size: 21px;
          color: #333e58;
          margin: 20px 0;
          display: block;
          width: 100%;
          font-weight: 700;
        }
        .options {
          height: 300px;
          overflow-y: auto;
          height: 222px;
          overflow-y: auto;
          border: 1px solid #ecf0f4;
          padding: 20px;

          label {
            display: flex;
            align-items: center;
            input {
              width: 40px;
              height: 25px;
            }
          }
        }
        .general-input {
          //  pointer-events: none;
          width: 48%;

          .departament-city {
            display: flex;
            align-items: center;
            .input-1:nth-child(1) {
              margin: 0 10px 0 0;
              width: 60%;
            }
            .input-1:nth-child(2) {
              margin: 0 0 0 10px;
              width: 50%;
            }
          }
        }
      }

      .form-references {
        display: flex;
        flex-direction: column;
        .sub-form {
          .sub-title {
            font-size: 18px;
            color: #333e58;
            margin: 20px 0;
            display: block;
            width: 100%;
            font-weight: 600;
          }
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }

      .files-adjunted {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .header-files {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin: 15px 0;
          align-items: center;

          .title {
            font-size: 21px;
            color: #333e58;
            margin: 20px 0;
            display: block;
            width: 100%;
            font-weight: 700;
          }

          .btn-1 {
            width: 250px;
          }
        }

        .file {
          width: 47%;
          margin: 15px 0;
          height: 550px;
          .title-file {
            font-weight: 600;
            padding: 10px;
            height: 40px;
            background-color: $light-blue;
            display: flex;
            align-items: center;
            color: #fff;
          }
          .pdf {
            width: 100%;
            height: 100%;
          }
          .image {
            width: 100%;
            height: 100%;
            .container-image {
              height: calc(100% - 40px);
              display: flex;
              align-items: center;
              filter: blur(10px);
              img {
                width: 100%;
                height: 100%;
              }
            }
            img.real-image {
              width: 100%;
              position: absolute;
              top: 40px;
            }
          }

          .firma {
            align-items: center;
            display: flex;
            border: 1px solid #c1c1c1;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            img {
              width: 100%;
            }
            .title-file {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
          }

          .documents {
            width: 100%;
            height: 100%;
            .container-image {
              height: calc(100% - 40px);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              img {
                width: 120px;
                margin: 10px;
              }
            }
          }

          .pdf,
          .image,
          .firma,
          .documents {
            position: relative;
            border: 1px solid #c1c1c1;
            border-radius: 10px;
            overflow: hidden;

            .container-buttons {
              cursor: pointer;
              position: absolute;
              right: 20px;
              bottom: 20px;
              height: 48px;
              width: 48px;
              text-align: center;
              transition: height 300ms ease;
              overflow: hidden;
              .options {
                z-index: 20;
                position: absolute;
                bottom: 0;
                right: 0;
                transition: transform 300ms;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: #1479fb;
                overflow: hidden;
                border-radius: 100%;
                width: 45px;
                height: 45px;
                padding: 5px;
                margin: 0;
                img {
                  width: 30px;
                  height: 30px;
                }
              }

              .edit {
                display: block;
                cursor: pointer;
                background-color: #1479fb;
                overflow: hidden;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                padding: 5px;
                margin: 5px auto;
                z-index: 10;
                img {
                  width: 60%;
                  height: 100%;
                  border-radius: 100%;
                }
              }
            }

            .container-buttons:hover {
              height: 141px;
            }
            .container-buttons:hover .options {
              transform: rotate(180deg);
            }

            .edit {
              cursor: pointer;
              background-color: #1479fb;
              overflow: hidden;
              border-radius: 100%;
              width: 40px;
              height: 40px;
              padding: 5px;
              margin: 0;
              z-index: 10;
              img {
                width: 60%;
                height: 100%;
                border-radius: 100%;
              }
            }
          }

          .firma {
            .container-buttons:hover {
              height: 100px;
            }
          }
        }
      }

      .button-wrapper {
        margin: 30px 0;
      }
    }
  }
}
