<div class="content" *ngIf="user && userLogged">
  <h2>Perfil del agricultor</h2>
  <div class="wrapper-info animated fadeIn" *ngIf="user">
    <div class="photo-farmer">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="160" width="160">
        <circle
          id="circle"
          cx="80"
          cy="80"
          r="75"
          [ngStyle]="{
            'stroke-dashoffset': percentajeLoaderProfilePhoto,
            stroke: strokeColor
          }"
        />
      </svg>
      <img [src]="user['photoProfile'] ? user['photoProfile'] : '/assets/rol_1.svg'" class="profile-photo animated fadeIn" alt="" />
      <input type="file" id="photoPerfil" (change)="photoProfileUpload($event)" />
      <label for="photoPerfil" *ngIf="userLogged.role === 2 || userLogged.role === 5"><img src="/assets/plus.svg" alt="" /></label>
    </div>

    <div class="data-store" *ngIf="user.store">
      <span class="title">
        Información de quien género la solicitud
      </span>
      <div class="row-data">
        <span class="title-row">Número de radicado</span>
        <span class="title-row">Quien la genero</span>
        <span class="title-row">Correo</span>
        <span class="title-row">Fecha</span>

        <span>{{ user.uniqueNumberApplicationLoan }}</span>
        <span>{{ user.store.name }}</span>
        <span>{{ user.store.email }}</span>
        <span>{{ user.store.dateCreate.toDate() | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES" }}</span>
      </div>
    </div>

    <form [formGroup]="personalDataFormGroup">
      <span class="title">
        Información basica del agricultor
      </span>
      <div class="general-input" *ngFor="let field of formPersonalData">
        <div [ngSwitch]="field['type']">
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'text'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="personalDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'number'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="personalDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'phone'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="personalDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'currency'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="personalDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'email'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="personalDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'select'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>

            <select [formControlName]="field.key">
              <option *ngFor="let option of field.options" [selected]="option.value === field['valueUser']" [value]="option.value">{{ option.label }}</option>
            </select>

            <div *ngIf="personalDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'date'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>

            <input
              type="text"
              [formControlName]="field.key"
              [matDatepicker]="picker"
              [placeholder]="field['valueUser']"
              [value]="field['valueUser']"
              (focus)="picker.open()"
              (click)="picker.open()"
            />
            <mat-datepicker #picker></mat-datepicker>

            <div *ngIf="personalDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="departament-city" *ngSwitchCase="'department_city'">
            <div class="input-1" style="margin-bottom: 1rem;">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <select [formControlName]="field.key">
                <option *ngFor="let dept of departamentsPersonalData" [selected]="dept.departamento === field['valueUser']" [value]="dept.departamento">{{
                  dept.departamento
                }}</option>
              </select>

              <div *ngIf="personalDataFormGroup.controls[field.key].touched">
                <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls[field.key]['errorMessages']">
                  {{ errorMessage }}
                </div>
              </div>
            </div>

            <div class="input-1" style="margin-bottom: 1rem;" *ngIf="citiesPersonalData">
              <label>
                <span class="placeholder">Municipio de residencia</span>
              </label>
              <select formControlName="MunicipioRes">
                <option *ngFor="let city of citiesPersonalData['ciudades']" [selected]="city === user['MunicipioRes']" [value]="city">{{ city }}</option>
              </select>

              <div *ngIf="personalDataFormGroup.controls.MunicipioRes.touched">
                <div class="light form-error" *ngFor="let errorMessage of personalDataFormGroup.controls.MunicipioRes['errorMessages']">
                  {{ errorMessage }}
                </div>
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'check'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <div class="options">
              <label class="checkbox-2" *ngFor="let option of field.options; let idx = index">
                <input type="checkbox" [checked]="option.value === field['valueUser']" (change)="sendCorrespondense(option)" />
                <div class="txt">{{ option.label }}</div>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="financilaDataFormGroup">
      <span class="title">
        Información bancaria del agricultor
      </span>
      <div class="general-input" *ngFor="let field of formFinancialData">
        <div [ngSwitch]="field['type']">
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'text'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'phone'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'number'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'currency'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'email'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
            <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'select'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>

            <select [formControlName]="field.key">
              <option *ngFor="let option of field.options" [selected]="option.value === field['valueUser']" [value]="option.value">{{ option.label }}</option>
            </select>

            <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'date'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>

            <input
              type="text"
              [formControlName]="field.key"
              [matDatepicker]="picker"
              [placeholder]="field['valueUser']"
              (focus)="picker.open()"
              (click)="picker.open()"
            />
            <mat-datepicker #picker></mat-datepicker>

            <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
              <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="departament-city" *ngSwitchCase="'department_city'">
            <div class="input-1" style="margin-bottom: 1rem;">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <select [formControlName]="field.key">
                <option *ngFor="let dept of departamentsFinancialData" [selected]="dept.departamento === field['valueUser']" [value]="dept.departamento">{{
                  dept.departamento
                }}</option>
              </select>

              <div *ngIf="financilaDataFormGroup.controls[field.key].touched">
                <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls[field.key]['errorMessages']">
                  {{ errorMessage }}
                </div>
              </div>
            </div>

            <div class="input-1" style="margin-bottom: 1rem;" *ngIf="citiesFinancialData">
              <label>
                <span class="placeholder">Municipio de actividad</span>
              </label>
              <select formControlName="MunicipioActividad">
                <option *ngFor="let city of citiesFinancialData['ciudades']" [selected]="city === user['MunicipioActividad']" [value]="city">{{ city }}</option>
              </select>

              <div *ngIf="financilaDataFormGroup.controls.MunicipioActividad.touched">
                <div class="light form-error" *ngFor="let errorMessage of financilaDataFormGroup.controls.MunicipioActividad['errorMessages']">
                  {{ errorMessage }}
                </div>
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'check'">
            <label>
              <span class="placeholder">{{ field.label }}</span>
            </label>
            <div class="options">
              <label class="checkbox-2" *ngFor="let option of field.options">
                <input type="checkbox" [checked]="option.value === field['valueUser']" />
                <div class="txt">{{ option.label }}</div>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form class="form-references" *ngIf="referencesDataFormGroup" [formGroup]="referencesDataFormGroup">
      <span class="title">
        Referencias del agricultor
      </span>
      <div class="sub-form" *ngFor="let form of formReferencesData" [formGroup]="referencesDataFormGroup.controls[form.id]">
        <span class="sub-title">{{ form.title }}</span>
        <div class="general-input" *ngFor="let field of form.fields">
          <div [ngSwitch]="field['type']">
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'text'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />

              <div *ngIf="referencesDataFormGroup.controls[form.id]['controls'][field.key].touched">
                <div class="light form-error" *ngFor="let errorMessage of referencesDataFormGroup.controls[form.id]['controls'][field.key]['errorMessages']">
                  {{ errorMessage }}
                </div>
              </div>
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'number'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <input type="text" [formControlName]="field.key" [value]="field['valueUser']" />
              <div *ngIf="referencesDataFormGroup.controls[form.id]['controls'][field.key].touched">
                <div class="light form-error" *ngFor="let errorMessage of referencesDataFormGroup.controls[form.id]['controls'][field.key]['errorMessages']">
                  {{ errorMessage }}
                </div>
              </div>
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'currency'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <input type="text" [value]="field['valueUser']" />
              <!--  <div *ngIf="loanFormGroup.controls[field.key].touched">
                          <div class="light form-error"
                            *ngFor="let errorMessage of loanFormGroup.controls[field.key]['errorMessages']">
                            {{errorMessage}}
                          </div>
                        </div> -->
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'email'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <input type="text" [value]="field['valueUser']" />
              <!--  <div *ngIf="loanFormGroup.controls[field.key].touched">
                          <div class="light form-error"
                            *ngFor="let errorMessage of loanFormGroup.controls[field.key]['errorMessages']">
                            {{errorMessage}}
                          </div>
                        </div> -->
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'select'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>

              <select>
                <option *ngFor="let option of field.options" [selected]="option.value === field['valueUser']" [value]="option.value">{{ option.label }}</option>
              </select>

              <!--  <div *ngIf="loanFormGroup.controls.farmer['controls'].departamento.touched">
                          <div class="light form-error"
                            *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].departamento['errorMessages']">
                            {{errorMessage}}
                          </div>
                        </div>  -->
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'date'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>

              <input type="text" [matDatepicker]="picker" [placeholder]="field['valueUser']" (focus)="picker.open()" (click)="picker.open()" />
              <mat-datepicker #picker></mat-datepicker>

              <!-- <div *ngIf="loanFormGroup.controls.outlayDate.touched">
                          <div class="light form-error"
                            *ngFor="let errorMessage of loanFormGroup.controls.outlayDate['errorMessages']">
                            {{errorMessage}}
                          </div>
                        </div> -->
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'department_city'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>

              <select>
                <option *ngFor="let option of field.options" [selected]="option.value === field['valueUser']" [value]="option.value">{{ option.label }}</option>
              </select>

              <!--  <div *ngIf="loanFormGroup.controls.farmer['controls'].departamento.touched">
                          <div class="light form-error"
                            *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].departamento['errorMessages']">
                            {{errorMessage}}
                          </div>
                        </div> -->
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'check'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <div class="options">
                <label class="checkbox-2" *ngFor="let option of field.options">
                  <input type="checkbox" [checked]="option.value === field['valueUser']" />
                  <div class="txt">{{ option.label }}</div>
                  <span></span>
                </label>
              </div>
            </div>
            <div class="input-1" style="margin-bottom: 1rem;" *ngSwitchCase="'phone'">
              <label>
                <span class="placeholder">{{ field.label }}</span>
              </label>
              <input type="text" [value]="field['valueUser']" />
              <!--  <div *ngIf="loanFormGroup.controls[field.key].touched">
                              <div class="light form-error"
                                *ngFor="let errorMessage of loanFormGroup.controls[field.key]['errorMessages']">
                                {{errorMessage}}
                              </div>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="files-adjunted">
      <div class="header-files">
        <span class="title">
          Archivos adjuntos del agricultor
        </span>
        <button class="btn-1" (click)="addFileAttachment()">Agregar archivo</button>
      </div>
      <div class="file" *ngFor="let file of files">
        <div class="pdf animated fadeIn" *ngIf="file.type === 'pdf'">
          <div class="title-file">
            <span>{{ toCapitalizeDocumentName(file.fileName) }}</span>
          </div>
          <ngx-extended-pdf-viewer [src]="file.fileOriginal" useBrowserLocale="true" height="510px"></ngx-extended-pdf-viewer>
          <div class="container-buttons">
            <button class="options"><img src="/assets/plus.svg" alt="" /></button>
            <button class="edit opt" *ngIf="userLogged.role === 2 || userLogged.role === 5" (click)="addFileAttachment(file)">
              <img src="/assets/edit.svg" alt="" />
            </button>
            <button class="edit opt" (click)="donwloadFile(file)"><img src="/assets/download.svg" alt="" /></button>
          </div>
        </div>
        <div class="image animated fadeIn" *ngIf="file.type === 'image'">
          <div class="title-file">
            <span>{{ toCapitalizeDocumentName(file.fileName) }}</span>
          </div>
          <div class="container-image">
            <img [src]="file.fileOriginal" alt="" />
          </div>
          <img class="real-image" [src]="file.fileOriginal" alt="" />
          <div class="container-buttons">
            <button class="options"><img src="/assets/plus.svg" alt="" /></button>
            <button class="edit opt" *ngIf="userLogged.role === 2 || userLogged.role === 5" (click)="addFileAttachment(file)">
              <img src="/assets/edit.svg" alt="" />
            </button>
            <a class="edit opt" (click)="donwloadFile(file)" download><img src="/assets/download.svg" alt="" /></a>
          </div>
        </div>
        <div class="firma animated fadeIn" *ngIf="file.type === 'firma'">
          <div class="title-file">
            <span>{{ toCapitalizeDocumentName(file.fileName) }}</span>
          </div>
          <img [src]="file.fileOriginal" alt="" />
          <div class="container-buttons">
            <button class="options"><img src="/assets/plus.svg" alt="" /></button>
            <button class="edit opt" (click)="donwloadFile(file)"><img src="/assets/download.svg" alt="" /></button>
          </div>
        </div>

        <div class="documents animated fadeIn" *ngIf="file.type === 'xlsx' || file.type === 'docx'">
          <div class="title-file">
            <span>{{ toCapitalizeDocumentName(file.fileName) }}</span>
          </div>
          <div class="container-image">
            <img src="/assets/documet-icon.svg" alt="" />
            <span>{{file.fileName}}.{{file.type}}</span>
          </div>
          <div class="container-buttons">
            <button class="options"><img src="/assets/plus.svg" alt="" /></button>
            <button class="edit opt" *ngIf="userLogged.role === 2 || userLogged.role === 5" (click)="addFileAttachment(file)">
              <img src="/assets/edit.svg" alt="" />
            </button>
            <button class="edit opt" (click)="donwloadFile(file)"><img src="/assets/download.svg" alt="" /></button>
          </div>
        </div>
      </div>
    </div>

    <div class="button-wrapper" *ngIf="user">
      <button class="btn-1 -secondary" type="button" (click)="back()">Volver</button>
      <button class="btn-1 -secondary" type="button" *ngIf="userLogged.role === 5 || (userLogged.role === 2 && user.Estado === 0 )" (click)="saveToFarmer()">Guardar</button>
      <button class="btn-1" type="button" *ngIf="user.Estado === 0" (click)="sendApplicationLoan()">Enviar solicitud</button>
    </div>
  </div>
</div>

<!-- [disabled]="!personalDataFormGroup.valid && !financilaDataFormGroup.valid "  [ngClass]="{'-disable': !personalDataFormGroup.valid && !financilaDataFormGroup.valid}" -->
