button.primary {
  background-color: #1479fb;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  font-weight: 600;
}


.btn-1 {
  padding: 10px 30px;
  color: $white;
  background-color: $light-blue;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.25s;
  &:hover {
      background-color: darken($light-blue, 15%);
  }
  &.-secondary {
      color: $light-blue;
      border: 1px solid $light-blue;
      background-color: $light-blue-3;
      &:hover {
          background-color: darken($light-blue-3, 5%);
      }
  }
  &.-red {
      background-color: $red;
      &:hover {
          background-color: darken($red, 15%);
      }
  }
  &.-disable {
      background-color: rgba($font-gray, 0);
      border: 2px solid $font-gray;
      color: $font-gray;
      opacity: 0.35;
      cursor: not-allowed
  }
  & > img {
      height: 1.25rem;
      margin-right: 15px;
      vertical-align: middle;
  }
}
