@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";
/* Estilos del input y label */

label {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

input[type="submit"],
input[type="reset"],
input {
  background-color: white;
  border-color: white;
  border-radius: 0.5em;
  height: 3em;
  padding: 1em;
  color: inherit;
  border: none;
  font: inherit;
  outline: none;
  width: 100%;

  &.form-error {
    border: 1px solid $red;
  }
}

.form-error {
  margin: 0.5em 0;
  color: $red;
}

button {
  height: 3em;
  padding: 1em;
}

formly-form {
  display: grid; //grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

/* Configuración del check box? */

.checkbox-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked~.checkmark {
      background-color: $red;

      &:after {
        display: block;
      }
    }
  }

  &:hover input~.checkmark {
    background-color: #ccc;
  }

  & .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 105%;
  height: 20px;
  width: 20px;
  background-color: #eee;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.input-1 {
  position: relative;

  &>label {
    @include flex(row, center);
    margin-bottom: 1rem;
    transition: all 0.25s;

    &>img {
      width: 1.5rem;
      max-height: 1.5rem;
      margin-right: 10px;
    }
  }

  &>input,
  &>select {
    width: 100%;
    height: auto;
    padding: 15px 20px;
    border: $division-1;
    border-radius: 15px;
    font-weight: 700;
    transition: all 0.25s;

    &:focus {
      border: 1px solid darken($division-1-color, 35%);
    }

    &:disabled {
    cursor: not-allowed;
    }
  }

  &>select {
    padding-right: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/assets/Select-Arrow.svg);
    background-size: 15px auto;
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
  }

  &.-readonly {
    &>label {
      color: $font-gray;
      margin-bottom: 0;
    }
  }
}

.radio-input {
  @include flex(row, center, center);
  width: 100%;
  height: auto;
  margin-right: 20px;
  padding: 15px 20px;
  border: $division-1;
  border-radius: 15px;
  font-weight: 700;
  @include transition(0.25s);
  &:last-child {
      margin-right: 0;
  }
  & > .radio-select {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: $division-1-color;
      transition: all 0.25s;
  }
  &:hover {
      border-color: darken($division-1-color, 25%);
      & > .radio-select {
          background-color: darken($division-1-color, 25%);
      }
  }
  &.-selected {
      border-color: $light-blue;
      color: $light-blue;
              & > .radio-select {
          background-color: $light-blue;
      }
  }
}