<div [ngClass]="{ loading: loading }"></div>
<div class="loader" *ngIf="loading"></div>
<div class="box">
  <div class="image">
    <img [src]="image" />
  </div>
  <div class="flex">
    <div class="content">
      <div class="title">
        <h1>¡Bienvenido a Agricapital!</h1>
        <h2>{{ subtitle }}</h2>
      </div>
      <ngx-3a-forms-basic
        *ngIf="fields"
        [model]="attribute"
        [fields]="fields"
        (keyup)="onKeyup()"
        (submit)="onSubmit($event)"
        #form
      ></ngx-3a-forms-basic>
      <button class="primary" (click)="onClickSubmit()">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
