@import "~src/styles/partials/mixins";
@import "~src/styles/partials/variables";
.box {
  display: inline-block;
  text-align: left;
  height: 100vh;
  @include flex(row, flex-start, flex-start);
}

.image {
  width: 35%;
  height: 100%;
  overflow: hidden;
}
img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.title {
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10em;
  h1,
  h2 {
    font-weight: 600;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
}
.flex {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 64px;
}
.content {
  width: 80%;
}

button {
  margin-right: 0;
  margin-left: auto;
  display: -webkit-box;
}
