//@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap");
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/text";
@import "./partials/buttons";
@import "./partials/forms";
@import "./partials/tables";

//General Style
html,
body,
.body-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.body-wrapper {
  padding: 15px;
}

body {
  background-color: $bg;
  font-size: 100%;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $font;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

//Remove of Styles
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button,
select,
a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
}

button {
  @include transition(0.25s);
}

h1.title {
  font-size: 2.3em;
  font-weight: 600;
}
p.light {
  color: $font-gray;
  font-weight: 400;
  font-size: 1em;
}

.w400 {
  font-weight: 400;
}

h1.title,
p.light {
  width: 100%;
  margin: 1%;
}
//Display settings

.flex-container {
  display: flex;
}

.flex-item {
  margin: 1em;
}

.align-items-center {
  align-items: center;
}

* > .bold {
  font-weight: bold;
}

.small-font {
  font-size: small !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//messages

.alert-container {
  color: $yellow;
  background-color: $light-yellow;
  border-radius: 1em;
  margin: 1em 0;
  height: auto;
  align-items: center;
  border: solid 1px $yellow;
  padding: 0.5em 0;
  .icon {
    margin-left: 1em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }
}

.warning-container {
  color: $font;
  border-radius: 1em;
  margin: 1em 0;
  height: auto;
  padding: 0.5em 0;
  align-items: center;
  border: solid 1px $table-border;
  background-color: $white;
  &.red {
    color: $red;
    border-color: $red;
    background-color: $light-red;
  }
  &.yellow {
    border-color: $yellow;
    background-color: $light-yellow;
    color: $yellow;
  }
  .icon {
    margin-left: 1em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 60%;
    }
  }
  .icon-text {
    margin-left: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    color: $white;
  }
  .warning-info {
    margin-left: 2em;
  }
}
