<div class="table">
  <div class="table-2 admin">
    <div class="top-bar">
      <div class="left">
        <h1>Créditos</h1>
      </div>
      <div class="right">
        <button class="blue" (click)="openModal()">
          <img src="/assets/plus.svg" alt="" class="button-icon" />
          Agregar Crédito
        </button>
      </div>
    </div>
    <ngx-3a-datatable *ngIf="options && !showMessageEmptyData" [datatableOptions]="options" (rowClicked)="openLoan($event)">
    </ngx-3a-datatable>
    <div class="loader" *ngIf="showLoading"></div>
    <div class="empty-data-ui" *ngIf="showMessageEmptyData && !showLoading">
      <img src="/assets/sin_informacion.svg" alt="">
      <div class="text">
        Por ahora no hay créditos registrados
      </div>
    </div>
  </div>
</div>

<ng-template #role let-row="row" let-value="value">
  {{ value === 0 ? "Analista" : "Agricultor" }}
</ng-template>

<ng-template #money let-row="row" let-value="value">
  {{ value | currency: "$":"symbol":"1.0-0":'CO' }}
</ng-template>

<ng-template #months let-row="row" let-value="value">
  {{ value + " " }} meses
</ng-template>

<ng-template #percent let-row="row" let-value="value">
  {{ value }} %
</ng-template>