@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap");
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/text";
@import "./partials/buttons";
@import "./partials/forms";
@import "./partials/tables";

//General Style
html,
body,
.body-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.body-wrapper {
  padding: 15px;
}

body {
  background-color: $bg;
  font-size: 100%;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $font;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.table-2.admin {
  height: 90vh;
}

ngx-3a-datatable ::ng-deep {
  display: block;
  border: 1px solid $font-gray;
    height: calc(100% - 117px);
    overflow: hidden;
    ngx-datatable{
      height: 100%;
      .visible{
        height: 100%;
        datatable-body{
          width: auto !important;
          overflow: scroll;
          height: calc(100% - 65px) !important;
        }
      }
    }

    datatable-scroller{
    margin-top: 11px !important;
  }
  .datatable-body-cell-label,
  .datatable-header-cell-template-wrap {
    text-align: center;
    a {
      margin: auto;
      img {
        margin: auto;
      }
    }
  }

  datatable-header {
    padding: 1rem 0 !important;
  }
  datatable-body-row {
    padding: 1rem 0 !important;
  }

  datatable-body-cell{
    overflow-x: visible !important;
  }
}


::-webkit-scrollbar {
  width: 6px;
  background: #ffffff;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-blue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #056ffb;
}


.empty-data-ui {
  display: flex;
  padding: 5%;
  img {
    width: 38%;
  }
  .text {
    width: 62%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    padding: 30px;
    text-align: center;
  }
}

//MatdatePick general styles

.input-date-3a {
  width: auto;
  font-size: 14px;
  .mat-form-field-flex {
    width: 145px;
    height: 40px;
    display: flex;
    align-items: center;
  }
  input {
    height: auto;
    padding: 0;
  }
  .mat-form-field-wrapper {
    padding: 0;
  }
}

//Remove of Styles
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button,
select,
a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
}

button {
  @include transition(0.25s);
}

h1.title {
  font-size: 2.3em;
  font-weight: 600;
}

p.light {
  color: $font-gray;
  font-weight: 400;
  font-size: 1em;
}

.w400 {
  font-weight: 400;
}

h1.title,
p.light {
  width: 100%;
  margin: 1%;
}

//Display settings

.flex-container {
  display: flex;
}

.flex-item {
  margin: 1em;
}

.align-items-center {
  align-items: center;
}

* > .bold {
  font-weight: bold;
}

.small-font {
  font-size: small !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//messages
.alert-container {
  color: $yellow;
  background-color: $light-yellow;
  border-radius: 1em;
  margin: 1em 0;
  height: auto;
  align-items: center;
  border: solid 1px $yellow;
  padding: 0.5em 0;

  .icon {
    margin-left: 1em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }
}

.warning-container {
  color: $font;
  border-radius: 1em;
  margin: 1em 0;
  height: auto;
  padding: 0.5em 0;
  align-items: center;
  border: solid 1px $table-border;
  background-color: $white;

  &.red {
    color: $red;
    border-color: $red;
    background-color: $light-red;
  }

  &.yellow {
    border-color: $yellow;
    background-color: $light-yellow;
    color: $yellow;
  }

  .icon {
    margin-left: 1em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 60%;
    }
  }

  .icon-text {
    margin-left: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    color: $white;
  }

  .warning-info {
    margin-left: 2em;
  }
}

.-yellow {
  background-color: $yellow;
  color: $white;
  border-radius: 0.5em;
  padding: 0 20px;
}

/* Opciones de loading */
.loading {
  background-color: $black;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.loader {
  color: $light-blue;
  font-size: 6.2em;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  left: 48.7%;
  bottom: 50%;
  z-index: 2;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
