@import "~src/styles/partials/mixins";
@import "~src/styles/partials/variables";

.form-wrapper {
  padding: 2% 1.5%;
  border-radius: 25px;
  background-color: $white;

  & > h2 {
    margin-bottom: 2%;
    color: $font;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    .input-1 {
      width: 48%;
    }
    .button-wrapper {
      width: 100%;
    }

    .options {
      height: 300px;
      overflow-y: auto;
      height: 222px;
      overflow-y: auto;
      border: 1px solid #ecf0f4;
      padding: 20px;

      label {
        display: flex;
        align-items: center;
        input {
          width: 40px;
          height: 25px;
        }
      }
    }
  }

  & > .button-wrapper {
    margin-top: 4%;
  }
}

.loan-wrapper,
.outlay-wrapper {
  & > * {
    margin-bottom: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.loan-wrapper {
  width: calc(97vw - 15px);
}

.outlay-brief {
  & > h3 {
    color: $font-gray;
    font-weight: 600;
  }

  & > .total {
    @include flex(row, center, flex-top);

    & > .money-substract {
      margin-left: 7.5px;
      font-size: 0.75rem;
      color: $font-gray;
    }
  }
}

.outlay {
  @include flex(row, flex-end);
  flex-wrap: wrap;
  padding: 0 2%;
  transition: all 0.25s;

  & > .outlay-alert {
    @include flex(row, center);
    width: 100%;
    margin-bottom: 2%;

    & > img {
      height: 1.5rem;
      margin-right: 10px;
    }

    & > p {
      font-size: 1rem;
    }
  }

  & > * {
    margin-right: 2%;
  }

  & > button {
    margin-right: 0;
    margin-left: auto;
  }

  &.-readonly {
    padding: 2%;
    background-color: $bg;
    border: $division-1;
    border-radius: 15px;
  }

  &.-brief > .input-1 {
    &:nth-child(odd) {
      margin-right: 100%;
    }

    &:first-child {
      margin-right: 0;
    }
  }
}

.additional-outlays {
  @include flex(row, flex-end);
  width: 100%;
  margin: 2% 0 0;
  padding-top: 2%;
  border-top: $division-1;

  & > * {
    margin-right: 2%;
  }
}

.steps-timeline {
  position: relative;
  @include flex(row, center, space-between);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $division-1-color;
    transform: translateY(-50%);
    transition: all 0.25s;
  }

  &::after {
    background-color: $light-blue;
    width: 0;
  }

  &.-step-2::after {
    width: 33.33%;
  }

  &.-step-3::after {
    width: 66.66%;
  }

  &.-step-4::after {
    width: 100%;
  }
}

.step {
  position: relative;
  z-index: 1;
  @include flex(row, center, center);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  border: $division-1;
  transition: all 0.25s;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/Loan/Check.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.25s;
  }

  &.-focus,
  &.-check {
    border: 1px solid $light-blue;
    color: $light-blue;
  }

  &.-check {
    background-color: $light-blue;

    &::after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.input-wrapper {
  @include flex(row, flex-top, space-between);
  flex-wrap: wrap;

  & > .form-col {
    width: 49%;
    margin-bottom: 2%;
    &.-long {
      @include flex(row, center, space-between);
      width: 100%;
    }
  }
}

.button-wrapper {
  @include flex(row, center, flex-end);

  & > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.brief-step {
  @include flex(row);

  &:first-child > .info-wrapper {
    border-radius: 15px 15px 0 0;
  }

  &:last-child > .info-wrapper {
    border-radius: 0 0 15px 15px;
  }

  & > .check-wrapper {
    position: relative;
    padding: 2% 20px;

    &.-connect::after {
      content: "";
      position: absolute;
      top: 2vw;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: $light-blue;
      transform: translateX(-50%);
    }
  }

  & > .info-wrapper {
    width: 100%;
    padding: 2%;
    background-color: $white;

    & > h3 {
      margin-bottom: 2%;
    }

    & > .info-space {
      @include flex(row, center);
      padding: 2%;
      background-color: $bg;
      border: $division-1;
      border-radius: 15px;

      & > .input-1 {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    & > .button-wrapper {
      margin-top: 4%;
    }
  }
}
