@import "~src/styles/partials/mixins";
@import "~src/styles/partials/variables";

.modal-space {
  @include flex(row, center, center);
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, 0);
  transition: all 0.25s;
  pointer-events: none;

  &.-selected {
    pointer-events: all;
    background-color: rgba($black, 0.8);

    & > * {
      @include flex(row, center, center);
      // width: 100%;
      // height: 100%;
      transition: 0.25s;
      top: 0;
      opacity: 1;

      & > * {
        transition: 0.25s;
        top: 0;
        opacity: 1;
      }
    }
  }
}
