@import "~src/styles/loan.scss";
@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";

.content {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  position: relative;

  .title {
    margin-bottom: 15px;
  }
  .close {
    position: absolute;
    top: 7px;
    right: 20px;
    width: 20px;
    img {
      width: 100%;
    }
  }
  .body-wrapper-comments {
    border: 1px solid $table-border;
    border-radius: 15px;
    padding: 15px;
    height: 387px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .empty-comments{
      text-align: center;
      position: relative;
      top: 40%;
    }
    .comments {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 300px;
      margin: 0 10px;
      .comment-item {
        background-color: #f1f6fb;
        padding: 10px;
        border-radius: 15px;
        margin: 10px 0 10px 0;
        .user {
          font-weight: 700;
          display: block;
          margin: 6px 0;
        }

        .date {
          display: block;
          width: 100%;
          text-align: end;
          font-weight: 600;
          font-size: 12px;
          color: #acafb1;
        }
      }
    }
    .text-area {
      margin: 15px 0 0 0;
      display: flex;
      .input{
        width: 85%;
        input {
          width: 100%;
          height: 40px;
          border-radius: 15px;
          border: 1px solid $table-border;
          margin: 0 0 0 10px;
        }
      }
      .save-button {
        margin: 0 11px 0 15px;
        display: flex;
        height: 40px;
      }

      .error{
        color: #cc2121;
        display: block;
        margin: 7px 30px;
        font-size: 12px;
      }
    }
  }
  .loader-container {
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .loader {
      left: 38%;
      top: 38%;
    }
  }

  .wrapper-buttons {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0 15px;
    }
  }
}

/*  */
