<div class="content">
  <span class="title">Agrega o visualiza los comentarios de esta solicitud</span>
  <button class="close" type="button" (click)="close()"><img src="/assets/close.svg" alt="" /></button>

  <div class="body-wrapper-comments">
    <div class="empty-comments" *ngIf="!payload.comments.length">
      <span>Esta solicitud no tiene comentarios</span>
    </div>
    <div class="comments" *ngIf="payload.comments.length" #comments>
      <div class="comment-item animated fadeInRight" *ngFor="let comment of payload.comments">
        <span class="user">{{ comment.user }}</span>
        <div class="text">{{ comment.text }}</div>
        <span class="date">{{ comment.date | date: 'M/d/yy, h:mm a':"UTC-5":"es-ES" }}</span>
      </div>
    </div>
    <div class="text-area">
      <div class="input">
        <input type="text" [(ngModel)]="textComment" placeholder="Agrega un comentario..." [ngModelOptions]="{ standalone: true }" />
        <span class="error animated fadeIn" *ngIf="showMessageError">El campo no puede estar vacío</span>
      </div>
      <button class="btn-1 save-button" (click)="addComment()">Agregar</button>
    </div>
  </div>

  <div class="loader-container" *ngIf="loading">
    <div class="loader"></div>
  </div>
</div>
