<div class="table">
  <div class="table-2 admin">
    <div class="top-bar">
      <div class="left">
        <h1>Desembolsos</h1>
        
      </div>
      <div class="right">
<!--         <button class="select">
          Desembolsos del día de hoy
          <img src="/assets/admin-flecha.svg" alt="" class="button-icon" />
        </button> -->
        <button class="light-blue" (click)="displayFilters()">
          <img src="/assets/admin-filtros.svg" alt="" class="button-icon" />
          Filtros
        </button>
        <button class="blue" (click)="generateCSV()">
          <img src="/assets/admin-flecha-dl.svg" alt="" class="button-icon" />
          Descargar csv
        </button>
      </div>
    </div>
    <ngx-3a-datatable #datatable *ngIf="options" [datatableOptions]="options">
    </ngx-3a-datatable>
    <div class="empty-data-ui" *ngIf="showMessageEmptyData && !showLoading">
      <img src="/assets/sin_informacion.svg" alt="">
      <div class="text">
        Por ahora no hay desembolsos registrados
      </div>
    </div>
    <div class="loader" *ngIf="showLoading"></div>
  </div>
</div>
<ng-template #fileDownload let-row="row" let-value="value">
  <a [href]="value" class="icon" target="_blank" download>
    <img src="/assets/flecha-dl.svg" alt="" />
  </a>
</ng-template>
<ng-template #date let-row="row" let-value="value">
  {{ value | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES" }}
</ng-template>

<ng-template #money let-row="row" let-value="value">
  {{ value | currency: "$":"symbol":"1.0-0":'CO' }}
</ng-template>

<ng-template #denyLoan let-row="row" let-value="value">
  <a (click)="ModalDeny(row, $event)" class="icon">
    <img src="/assets/close-white.svg" alt="" />
  </a>
</ng-template>

<ng-template #approveLoan let-row="row" let-value="value">
  <a (click)="ModalApprove(row, $event)" class="icon">
    <img src="/assets/check-icon.svg" alt="" />
  </a>
</ng-template>

<ng-template #returnLoan let-row="row" let-value="value">
  <a (click)="ModalReturn(row, $event)" class="icon">
    <img src="/assets/return.svg" alt="" />
  </a>
</ng-template>

<ng-template #actions let-row="row" let-value="value">
  <div id="actions-container" class="actions-container">
    <a class="icon-hover">
      <img src="/assets/actions.svg" alt="" />
    </a>
    <div #actions class="actions animated fadeIn">
      <a (click)="ModalApprove(row, $event)" class="icon">
        <img src="/assets/check-icon.svg" alt="" />
        <span>{{ "Aprobar" }}</span>
      </a>
      <a (click)="ModalApprove(row, $event)" class="icon" >
        <img src="/assets/documents_signature.svg" alt="" />
        <span> {{ "Firma de Documentos" }} </span>
      </a> 
      <a (click)="ModalDeny(row, $event)" class="icon">
        <img src="/assets/close-white.svg" alt="" />
        <span>{{ "Negar" }}</span>
      </a>
      <a (click)="ModalReturn(row, $event)" class="icon" >
        <img src="/assets/return.svg" alt="" />
        <span> {{ "Devolver" }} </span>
      </a> 
      
    </div>
  </div>

  <!--  <a (click)="ModalApprove(row, $event)" class="icon">
    <img src="/assets/check-icon.svg" alt="" />
  </a> -->
</ng-template>
