@import "~src/styles/app.scss";


.top-bar {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 4em;

  .left,
  .right {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    button {
      margin-left: 2em;
    }
  }

  .right {
    justify-content: flex-end;
  }
}

button {
  border: 2px solid $table-border;
  border-radius: 10px;
  padding: 0 2em;
  @include flex(row, center, center);
  flex-wrap: nowrap;
  white-space: pre;

  .button-icon {
    height: 20%;
    max-width: 2em;
  }

  &.light-blue {
    background-color: $lighter-blue;
    color: $light-blue;
    border-color: $light-blue;

    .button-icon {
      height: 30%;
    }
  }

  &.blue {
    background-color: $light-blue;
    color: white;
    border-color: $light-blue;

    .button-icon {
      height: 40%;
    }
  }
}

.actions-container {
  position: relative;
  width: 30px;
  margin: auto;
  .icon-hover {
    @include flex(row, center, center);
    height: 30px;
    width: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 250ms;
    background-color: $light-blue;
    img {
      height: 60%;
    }
  }
  .actions {
    display: none;
    position: absolute;
    top: -6px;
    left: 14px;
    transition: all 250ms;
    background-color: #fff;
    height: 40px;
    align-items: center;
    border: 1px solid #e9ebee;
    border-radius: 5px;
    transform: translate(-50%, 0px);
    .icon {
      @include flex(row, center, center);
      height: 30px;
      width: 30px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 250ms;
      margin: 0 8px;
      position: relative;
      &.blue {
        background-color: $lighter-blue;
      }
      &.red {
        background-color: $light-red;
      }
      &.yellow {
        background-color: $light-yellow;
      }
      &:hover {
        transform: scale(1.2);
        span {
          display: inline-block;
          
        }
      }
      & > img {
        height: 50%;
      }

      span {
        position: absolute;
        top: -19px;
        font-size: 12px;
        display: none;
        white-space: nowrap;
      }
    }
  }
}
.actions-container:hover {
  .actions {
    display: flex;
  }
}

