<app-modal></app-modal>
<div class="content">
  <app-nav-admin></app-nav-admin>
  <div class="table-space" [@animationRoutes]="prepareOutletAnimation(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>