@import "~src/styles/app.scss";

.content {
  margin: 0em;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.table-space {
  width: 82%;
  padding: 1em 4em 4em;
  height: 100vh;
  overflow: hidden;
  position: relative;
   ::ng-deep router-outlet ~ * {
      width: 87%;
        height: 100%;
        display: block;
        position: absolute;
        overflow-x: hidden;
  } 

}
