@import "~src/styles/app.scss";

.top-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;

  .left {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    button {
      display: inline-block;
      margin-left: 2em;
    }
  }

  .right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    button {
      margin-left: 2em;
      * {
        pointer-events: none;
      }
    }

    .filter {
      position: absolute;
      width: 400px;
      height: 220px;
      border-radius: 20px;
      background: #ffff;
      z-index: 2;
      border: 2px solid #D9E0E6;;
      top: 60px;
      transition: left 200ms ease-in;
      animation-duration: 200ms;
      .close {
        width: 15px;
        height: 15px;
        border: none;
        padding: 0;
        position: absolute;
        right: 12px;
        top: 14px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

button {
  border: 2px solid $table-border;
  border-radius: 10px;
  padding: 0 2em;
  @include flex(row, center, center);
  flex-wrap: nowrap;
  white-space: pre;

  .button-icon {
    height: 20%;
    max-width: 2em;
  }

  &.light-blue {
    background-color: $lighter-blue;
    color: $light-blue;
    border-color: $light-blue;

    .button-icon {
      height: 30%;
    }
  }

  &.blue {
    background-color: $light-blue;
    color: white;
    border-color: $light-blue;

    .button-icon {
      height: 40%;
    }
  }
}
.mora {
  display: flex;
  height: 36px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.no-mora {
  width: 100px;
  background-color: #fff;
  border: 1px solid #a4afbb;
  color: #a4afbb;
}

.mora-t1 {
  padding: 0 10px;
  width: 40px;
  background-color: #ff5458;
  color: #fff;
}

.mora-t2 {
  padding: 0 10px;
  width: 40px;
  background-color: #ff5600;
  color: #fff;
}
.mora-t3 {
  padding: 0 10px;
  width: 40px;
  background-color: #ff7d00;
  color: #fff;
  border-radius: 10px;
}

.mora-t4 {
  padding: 0 10px;
  width: 40px;
  background-color: #ffb544;
  color: #fff;
  border-radius: 10px;
}

.icon {
  @include flex(row, center, center);
  height: 30px;
  width: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms;
  &.blue {
    background-color: $lighter-blue;
  }
  &.red {
    background-color: $light-red;
  }
  &.yellow {
    background-color: $light-yellow;
  }
  &:hover {
    background-color: rgba(20, 120, 251, 0.25);
  }
  & > img {
    height: 50%;
  }
}
