<div class="table">
  <div class="table-2 admin">
    <div class="top-bar">
      <div class="left">
        <h1>Facturas</h1>
        <div>
          <button class="light-blue" (click)="displayFilters()">
            <img src="/assets/admin-filtros.svg" alt="" class="button-icon" />
            Filtros
          </button>
          <button class="blue" (click)="generateConciliation()">
            <img src="/assets/admin-flecha-dl.svg" alt="" class="button-icon" />
            Realizar conciliación
          </button>
        </div>
      </div>
      <div class="right">
        <button class="select" id="buttonInvoices" (click)="showFiltersDownloads($event)">
          Decargar facturas
          <img src="/assets/admin-flecha.svg" alt="" class="button-icon" />
        </button>
        <button class="select" id="buttonDataCredit" (click)="showFiltersDownloads($event)">
          Descargar datacrédito
          <img src="/assets/admin-flecha.svg" alt="" class="button-icon" />
        </button>
        <div [ngStyle]="{'left': positionFiltersDownload}" *ngIf="showFiltersDownloadsAnimated" class="filter animated fadeIn">
          <button class="close" (click)="closeFiltersDownloads()"><img src="/assets/close.svg" alt=""></button>
          <app-filters-date (dateSelect)="dateSelectFiltersDownload($event)"></app-filters-date>
        </div>
      </div>
    </div>
    <ngx-3a-datatable #datatable *ngIf="options" [datatableOptions]="options">
    </ngx-3a-datatable>
    <div class="empty-data-ui" *ngIf="showMessageEmptyData && !showLoading">
      <img src="/assets/sin_informacion.svg" alt="">
      <div class="text">
        Por ahora no hay facturas registradas
      </div>
    </div>
    <div class="loader" *ngIf="showLoading"></div>
  </div>
</div>
<ng-template #fileDownload let-row="row" let-value="value">
  <a href="#" (click)="openInvoice(row)" class="icon" target="_blank" download>
    <img src="/assets/flecha-dl.svg" alt="" />
  </a>
</ng-template>
<ng-template #date let-row="row" let-value="value">
  {{ value | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES" }}
</ng-template>

<ng-template #money let-row="row" let-value="value">
  {{ value | currency: "$":"symbol":"1.0-0":'CO' }}
</ng-template>


<ng-template #mora let-row="row" let-value="value">
  <span class="mora no-mora">{{ value ? value  : 'Sin mora'}}</span>
</ng-template>