<div class="table">
    <div class="table-2 admin">
        <div class="top-bar">
            <div class="left">
                <h1>Extractos</h1>
            </div>
            <div class="right">

                <div class="search-for-date">
                    <button class="select">
                        Búsqueda por fecha
                        <img src="/assets/admin-flecha.svg" alt="" class="button-icon" />
                    </button>
<!--                     <div class="wrapper-date animated fadeIn" *ngIf="showSearchDateAnimation">
                        <mat-form-field class="input-date-3a" appearance="outline">
                            <mat-label>Desde</mat-label>
                            <input matInput [matDatepicker]="pickerFrom">
                            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFrom></mat-datepicker>
                          </mat-form-field>
                          <span class="line"></span>
                          <mat-form-field class="input-date-3a" appearance="outline">
                            <mat-label>Hasta</mat-label>
                            <input matInput [matDatepicker]="pickerTo">
                            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTo></mat-datepicker>
                          </mat-form-field>
                    </div> -->
                </div>
                <button class="light-blue" (click)="calculateMora()">
                    Descargar plantillas
                </button>
            </div>
        </div>
        <ngx-3a-datatable *ngIf="options" [datatableOptions]="options">
        </ngx-3a-datatable>
    </div>
</div>

  <ng-template #money let-row="row" let-value="value">
    {{ value | currency: "$":"symbol":"1.0-0":'CO' }}
  </ng-template>