@import "~src/styles/app.scss";

.top-bar {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 4em;

  .left,
  .right {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    button {
      margin-left: 2em;
    }
  }

  .right {
    justify-content: flex-end;
    .search-for-date {
      position: relative;

      .wrapper-date {
        z-index: 1;
        background: #fff;
        position: absolute;
        display: flex;
        top: 60px;
        left: 33px;
        width: 364px;
        border: 2px solid #d9e0e6;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;

        .line {
          display: inline-block;
          height: 2px;
          background-color: #a1b1bd;
          width: 20px;
        }
      }
    }
  }
}

button {
  border: 2px solid $table-border;
  border-radius: 10px;
  padding: 0 2em;
  @include flex(row, center, center);
  flex-wrap: nowrap;
  white-space: pre;

  .button-icon {
    height: 20%;
    max-width: 2em;
  }

  &.light-blue {
    background-color: $lighter-blue;
    color: $light-blue;
    border-color: $light-blue;

    .button-icon {
      height: 30%;
    }
  }

  &.blue {
    background-color: $light-blue;
    color: white;
    border-color: $light-blue;

    .button-icon {
      height: 40%;
    }
  }
}

.template-level-mora {
  background-color: red;
}
