<div class="body-wrapper">
  <div class="loan-wrapper">
    <h1>{{ !fillData ? "Resumen de Crédito" : "Creación de Crédito" }}</h1>

    <ng-container *ngIf="fillData">
      <div class="steps-timeline">
        <div
          class="step"
          [ngClass]="{
            '-check': currentStep > 0,
            '-focus': currentStep === 0
          }"
        >
          1
        </div>
        <div
          class="step"
          [ngClass]="{
            '-check': currentStep > 1,
            '-focus': currentStep === 1
          }"
        >
          2
        </div>
      </div>
      <div class="form-wrapper" *ngIf="currentStep === 0">
        <h2>Información del crédito</h2>

        <form (ngSubmit)="submit()" [formGroup]="loanFormGroup">
          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Línea de crédito</span>
            </label>
            <select formControlName="product">
              <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.product.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.product['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Amount.svg" alt="" />
              <span class="placeholder">Monto</span>
            </label>
            <input type="text" value='{{loan.amount}}' formControlName="amount"/>
            <div *ngIf="loanFormGroup.controls.amount.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.amount['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Periodicity.svg" alt="" />
              <span class="placeholder">Plazo</span>
            </label>
            <select formControlName="paymentPeriodicity">
              <option *ngFor="let payment of paymentPeriodicity" [ngValue]="payment.value">{{ payment.label }}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.paymentPeriodicity.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.paymentPeriodicity['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Tipo de interés</span>
            </label>
            <select formControlName="typeInterestRate">
              <option *ngFor="let type of typesInterest" [ngValue]="type.value">{{ type.label }}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.typeInterestRate.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.typeInterestRate['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Interest.svg" alt="" />
              <span class="placeholder">Interés</span>
            </label> 
            <input formControlName="interestRate" type="number" />
            <div *ngIf="loanFormGroup.controls.interestRate.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.interestRate['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Método de pago</span>
            </label>
            <select formControlName="paymentMethod">
              <option *ngFor="let type of paymentMethods" [ngValue]="type.value">{{ type.label }}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.paymentMethod.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.paymentMethod['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Tipo de cuota</span>
            </label>
            <select formControlName="typeQuote">
              <!--<option *ngIf = "loan.typeInterestRate === ''" *ngFor="let type of typeQuotes" [ngValue]="type.value">{{type.label}}</option>-->
              <option *ngIf="loan.typeInterestRate === 'fijo'" value="cuota-fija">Cuota fija</option>
              <option *ngIf="loan.typeInterestRate === 'DIF' || loan.typeInterestRate === 'IBR'" value="abono-fijo">Abono fijo</option>
            </select>
            <div *ngIf="loanFormGroup.controls.typeQuote.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.typeQuote['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Pagos a capital</span>
            </label>
            <select formControlName="capitalSubscription"> 
              
              <!--<option *ngFor="let type of capitalSubscriptions" [ngValue]="type.value" > {{ type.label }}</option>-->
              <ng-container *ngIf = "loan.paymentPeriodicity < 12">
                <ng-container *ngFor="let type of capitalSubscriptions">
                  <option *ngIf= "type.value < 12" [ngValue]="type.value" > 
                    {{ type.label }}
                  </option>                
                </ng-container>
              </ng-container>
              <ng-container *ngIf = "loan.paymentPeriodicity >=12">
                <ng-container *ngFor="let type of capitalSubscriptions">
                  <option *ngIf= "type.value >0" [ngValue]="type.value" > 
                    {{ type.label }}
                  </option>                
                </ng-container>
              </ng-container>

            </select>
            <div *ngIf="loanFormGroup.controls.capitalSubscription.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.capitalSubscription['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Ecosistema</span>
            </label>
            <select formControlName="agreement">
              <option *ngFor="let type of agreements" [ngValue]="type">{{ type.name }}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.agreement.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.agreement['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Interest.svg" alt="" />
              <span class="placeholder">Meses de gracia</span>
            </label>
            <input formControlName="graceMonths" type="text" />
            <div *ngIf="loanFormGroup.controls.graceMonths.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.graceMonths['errorMessages']">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Periodicity.svg" alt="" />
              <span class="placeholder">Otros servicios</span>
            </label>
            <div class="options">
              <label class="checkbox-2" *ngFor="let option of othersServices">
                <input type="checkbox" (change)="othersSelected(option)" />
                <div class="txt">{{ option.name }}</div>
                <span></span>
              </label>
            </div>
          </div>
          <div *ngIf="loan.capitalSubscription === 2" class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Periodicity.svg" alt="" />
              <span class="placeholder">Meses de pago al capital</span>
            </label>
            <div class="options">
              <label class="checkbox-2" *ngFor="let option of customMonths">
                <input type="checkbox" (change)="monthsSelected(option)" />
                <div class="txt">{{ option.label }}</div>
                <span></span>
              </label>
            </div>
          </div>

          <div class="button-wrapper">
            <button class="btn-1 -secondary" type="button" (click)="cancel()">Cancelar</button>
            <button class="btn-1" type="submit" [disabled]="!loanFormGroup.valid" [ngClass]="{ '-disable': !loanFormGroup.valid }">Continuar</button>
          </div>
        </form>
      </div>
    </ng-container>

    <ng-container *ngIf="!fillData">
      <div class="brief-wrapper">
        <div class="brief-step">
          <div class="check-wrapper -connect">
            <div class="step -check">1</div>
          </div>
          <div class="info-wrapper">
            <h3>Prestamo</h3>
            <div class="info-space">
              <div class="input-1 -readonly">
                <label for="">
                  <img src="/assets/Loan/Amount.svg" alt="" />
                  Monto
                </label>
                <input disabled type="text" [value]="'$' + (loan.amount | currency: '$':'symbol':'1.0-0')" />
              </div>
              <div class="input-1 -readonly">
                <label for="">
                  <img src="/assets/Loan/Periodicity.svg" alt="" />
                  Plazo
                </label>
                <input disabled type="text" [value]="loan.paymentPeriodicity + ' meses'" />
              </div>

              <div class="input-1 -readonly">
                <label for="">
                  <img src="/assets/Loan/Interest.svg" alt="" />
                  Interés
                </label>
                <input disabled type="text" [value]="loan.interestRate + '%'" />
              </div>
              <div class="input-1 -readonly">
                <label for="">
                  <img src="/assets/Loan/Deal.svg" alt="" />
                  Ecosistema
                </label>
                <input disabled type="text" [value]="loan.agreement ? loan.agreement.name : 'Ninguno'" />
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="brief-step">
          <div class="check-wrapper">
            <div class="step -check">1</div>
          </div>
          <div class="info-wrapper">
            <h3>Desembolsos</h3>
            <div class="outlay -readonly">
              <div class="outlay-alert">
                <img src="/assets/Loan/Alert.svg" alt="" />
                <p class="-bold">Siguiente desembolso</p>
              </div>
              <div class="input-1 -readonly">
                <label for="">
                  <img src="/assets/Loan/Outlay.svg" alt="" />
                  Desembolso
                </label>
                <input disabled type="text" [value]="'$' + (loan.amount | currency: '$':'symbol':'1.0-0')" />
              </div>
              <div class="input-1 -readonly">
                <label for="">
                  <img src="/assets/Loan/Date.svg" alt="" />
                  Fecha
                </label>
                <input disabled type="text" [value]="loan.outlayDate | date" />
              </div>
            </div>
          </div>
        </div>
      -->
        <div class="brief-step">
          <div class="check-wrapper">
            <div class="step -check">1</div>
          </div>
          <div class="info-wrapper">
            <h3>Amortización</h3>
            <div class="outlay -readonly">
              <div class="additional-outlays">
                <div class="input-1 -readonly">
                  <label for="">
                    <img src="/assets/Loan/Outlay.svg" alt="" />
                    Cuota
                  </label>

                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="i + 1" />
                  </ng-container>
                </div>
                <div class="input-1 -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Fecha pago
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="qo.date | date" />
                  </ng-container>
                </div>
                <div class="input-1 -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Saldo actual
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]=" (qo.amount | currency: '$':'symbol':'1.0-0')" />
                  </ng-container>
                </div>

                <div class="input-1 -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Pago a capital
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="(qo.paymentCapital | currency: '$':'symbol':'1.0-0')" />
                  </ng-container>
                </div>
                <div class="input-1 -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Abono interses
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="(qo.taxAmount | currency: '$':'symbol':'1.0-0')" />
                  </ng-container>
                </div>
                <div class="input-1 -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Otros
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="(qo.othersServices | currency: '$':'symbol':'1.0-0')" />
                  </ng-container>
                </div>

                <div class="input-1 -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Total
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="(qo.total | currency: '$':'symbol':'1.0-0')" />
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <button class="btn-1 -secondary" (click)="back()">Volver</button>
              <button class="btn-1" (click)="submit()">Continuar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
