@import "~src/styles/loan.scss";
@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";

ngx-3a-forms-basic::ng-deep {
  & > form {
    & > formly-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
    }
  }
}

.error {
  @include flex(row, center, flex-end);
  width: 100%;
  color: $red;
}
