<div class="body-wrapper">
  <div class="loan-wrapper">
    <h1>{{ !fillData ? "Resumen de Crédito" : "Creación de Crédito" }}</h1>

    <ng-container *ngIf="fillData">
      <div class="steps-timeline">
        <div class="step " [ngClass]="{
            '-check': currentStep > 0,
            '-focus': currentStep === 0
          }">
          1
        </div>
        <div class="step" [ngClass]="{
            '-check': currentStep > 1,
            '-focus': currentStep === 1
          }">
          2
        </div>
        <div class="step" [ngClass]="{
            '-check': currentStep > 2,
            '-focus': currentStep === 2
          }">
          3
        </div>
        <div class="step" [ngClass]="{
            '-check': currentStep > 3,
            '-focus': currentStep === 3
          }">
          4
        </div>
      </div>
      <div class="form-wrapper" *ngIf="currentStep === 0">
        <h2>Información del Agroempresario</h2>

        <form (ngSubmit)="submit()" [formGroup]="loanFormGroup.controls.farmer">

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Primer Nombre</span>
            </label>
            <input formControlName="PrimerNombre" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].PrimerNombre.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].PrimerNombre['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Segundo Nombre</span>
            </label>
            <input formControlName="SegundoNombre" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].SegundoNombre.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].SegundoNombre['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Primer Apellido</span>
            </label>
            <input formControlName="PrimerApellido" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].PrimerApellido.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].PrimerApellido['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Segundo apellido</span>
            </label>
            <input formControlName="SegundoApellido" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].SegundoApellido.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].SegundoApellido['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="assets/Loan/ID.svg" alt="" />
              <span class="placeholder">Cedula</span>
            </label>
            <input formControlName="cc" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].cc.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].cc['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/CellPhone.svg" alt="" />
              <span class="placeholder">Celular</span>
            </label>
            <input formControlName="cellphone" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].cellphone.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].cellphone['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Phone.svg" alt="" />
              <span class="placeholder">Telefono</span>
            </label>
            <input formControlName="phone" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].phone.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].phone['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="assets/Loan/ID.svg" alt="" />
              <span class="placeholder">Dirección</span>
            </label>
            <input formControlName="DireccionRes" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].DireccionRes.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].DireccionRes['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="assets/Loan/ID.svg" alt="" />
              <span class="placeholder">Departamento</span>
            </label>

            <select formControlName="DepartamentoRes">
              <option *ngFor="let dept of departaments" [value]="dept.departamento">{{dept.departamento}}</option>
            </select>

            <div *ngIf="loanFormGroup.controls.farmer['controls'].DepartamentoRes.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].DepartamentoRes['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="assets/Loan/ID.svg" alt="" />
              <span class="placeholder">Municipio</span>
            </label>
            <select formControlName="MunicipioRes">
              <option *ngFor="let city of cities['ciudades']" [value]="city">{{city}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.farmer['controls'].MunicipioRes.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].MunicipioRes['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="assets/Loan/ID.svg" alt="" />
              <span class="placeholder">Vereda</span>
            </label>
            <input formControlName="Vereda" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].Vereda.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].Vereda['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="assets/Loan/ID.svg" alt="" />
              <span class="placeholder">Nombre del predio</span>
            </label>
            <input formControlName="predioNombre" type="text" />
            <div *ngIf="loanFormGroup.controls.farmer['controls'].predioNombre.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.farmer['controls'].predioNombre['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="button-wrapper">
            <button class="btn-1 -secondary" type="button" (click)="cancel()">
              Cancelar
            </button>
            <button class="btn-1" [disabled]="!loanFormGroup.controls.farmer.valid"
              [ngClass]="{'-disable': !loanFormGroup.controls.farmer.valid}" type="submit">Continuar</button>
          </div>
        </form>


      </div>

      <div class="form-wrapper" *ngIf="currentStep === 1">
        <h2>Datos de la transacción</h2>
        <form (ngSubmit)="submit()" [formGroup]="loanFormGroup.controls.bankInformation">

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Destinatario</span>
            </label>
            <select formControlName="paymentDestination">
              <option value="0">Pago al cliente</option>
              <option value="1">Pago a terceros</option>
            </select>
            <div *ngIf="loanFormGroup.controls.bankInformation['controls'].paymentDestination.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.bankInformation['controls'].paymentDestination['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Medio de pago</span>
            </label>
            <select formControlName="paymentType">
              <option value="0">Cheque</option>
              <option value="1">Transferencia bancaria</option>
              <option value="2">Pago a terceros</option>
            </select>
            <div *ngIf="loanFormGroup.controls.bankInformation['controls'].paymentType.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.bankInformation['controls'].paymentType['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Entidad bancaria</span>
            </label>
            <select formControlName="bank">
              <option *ngFor="let bank of banks" [ngValue]="bank">{{bank.name}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.bankInformation['controls'].bank.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.bankInformation['controls'].bank['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>


          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="assets/Loan/ID.svg" alt="" />
              <span class="placeholder">Número de cuenta</span>
            </label>
            <input formControlName="accountNumber" type="text" />
            <div *ngIf="loanFormGroup.controls.bankInformation['controls'].accountNumber.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.bankInformation['controls'].accountNumber['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>


          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Tipo de cuenta</span>
            </label>
            <select formControlName="accountType">
              <option value="0">Ahorros</option>
              <option value="1">Corriente</option>
            </select>
            <div *ngIf="loanFormGroup.controls.bankInformation['controls'].accountType.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.bankInformation['controls'].accountType['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="button-wrapper">
            <button class="btn-1 -secondary" type="button" (click)="back()">Volver</button>
            <button class="btn-1" [disabled]="!loanFormGroup.controls.bankInformation.valid"
              [ngClass]="{'-disable': !loanFormGroup.controls.bankInformation.valid}" type="submit">Continuar</button>
          </div>
        </form>

      </div>

      <div class="form-wrapper" *ngIf="currentStep === 2">
        <h2>Información del crédito</h2>

        <form (ngSubmit)="submit()" [formGroup]="loanFormGroup">

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Línea de crédito</span>
            </label>
            <select formControlName="product">
              <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.product.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.product['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Amount.svg" alt="" />
              <span class="placeholder">Monto</span>
            </label>
            <input formControlName="amount" type="text" />
            <div *ngIf="loanFormGroup.controls.amount.touched">
              <div class="light form-error" *ngFor="let errorMessage of loanFormGroup.controls.amount['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>


          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Periodicity.svg" alt="" />
              <span class="placeholder">Plazo</span>
            </label>
            <select formControlName="paymentPeriodicity">
              <option *ngFor="let payment of paymentPeriodicity" [ngValue]="payment.value">{{payment.label}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.paymentPeriodicity.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.paymentPeriodicity['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Name.svg" alt="" />
              <span class="placeholder">Tipo de interés</span>
            </label>
            <select formControlName="typeInterestRate">
              <option *ngFor="let type of typesInterest" [ngValue]="type.value">{{type.label}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.typeInterestRate.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.typeInterestRate['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Interest.svg" alt="" />
              <span class="placeholder">Interés</span>
            </label>
            <input formControlName="interestRate" type="number" />
            <div *ngIf="loanFormGroup.controls.interestRate.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.interestRate['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>


          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Método de pago</span>
            </label>
            <select formControlName="paymentMethod">
              <option *ngFor="let type of paymentMethods" [ngValue]="type.value">{{type.label}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.paymentMethod.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.paymentMethod['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Tipo de cuota</span>
            </label>
            <select formControlName="typeQuote">
              <option *ngFor="let type of typeQuotes" [ngValue]="type.value">{{type.label}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.typeQuote.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.typeQuote['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Pagos a capital</span>
            </label>
            <select formControlName="capitalSubscription">
              <option *ngFor="let type of capitalSubscriptions" [ngValue]="type.value">{{type.label}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.capitalSubscription.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.capitalSubscription['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/ID-Analyst.svg" alt="" />
              <span class="placeholder">Ecosistema</span>
            </label>
            <select formControlName="agreement">
              <option *ngFor="let type of agreements" [ngValue]="type">{{type.name}}</option>
            </select>
            <div *ngIf="loanFormGroup.controls.agreement.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.agreement['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>


          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Periodicity.svg" alt="" />
              <span class="placeholder">Fecha desembolso</span>
            </label>

            <input formControlName="outlayDate" type="text" [matDatepicker]="picker" (focus)="picker.open()"
              (click)="picker.open()" />
            <mat-datepicker #picker></mat-datepicker>

            <div *ngIf="loanFormGroup.controls.outlayDate.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.outlayDate['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Periodicity.svg" alt="" />
              <span class="placeholder">Meses de pago al capital</span>
            </label>
            <div class="options">
              <label class="checkbox-2" *ngFor="let option of customMonths">
                <input type="checkbox" (change)="monthsSelected(option)" />
                <div class="txt">{{ option.label }}</div>
                <span></span>
              </label>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Periodicity.svg" alt="" />
              <span class="placeholder">Otros servicios</span>
            </label>
            <div class="options">
              <label class="checkbox-2" *ngFor="let option of othersServices">
                <input type="checkbox" (change)="othersSelected(option)" />
                <div class="txt">{{ option.name }}</div>
                <span></span>
              </label>
            </div>
          </div>

          <div class="input-1" style="margin-bottom: 1rem;">
            <label>
              <img src="/assets/Loan/Interest.svg" alt="" />
              <span class="placeholder">Meses de gracia</span>
            </label>
            <input formControlName="graceMonths" type="text" />
            <div *ngIf="loanFormGroup.controls.graceMonths.touched">
              <div class="light form-error"
                *ngFor="let errorMessage of loanFormGroup.controls.graceMonths['errorMessages']">
                {{errorMessage}}
              </div>
            </div>
          </div>

          <div class="button-wrapper">
            <button class="btn-1 -secondary" type="button" (click)="back()">Volver</button>
            <button class="btn-1" type="submit" [disabled]="!loanFormGroup.valid"
              [ngClass]="{'-disable': !loanFormGroup.valid}">Continuar</button>
          </div>
        </form>

      </div>
    </ng-container>

    <ng-container *ngIf="!fillData">
      <div class="brief-wrapper">
        <div class="brief-step">
          <div class="check-wrapper -connect">
            <div class="step -check">
              1
            </div>
          </div>
          <div class="info-wrapper">
            <h3>Información personal de agricultor</h3>
            <div class="info-space">
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Name.svg" alt="" />
                  Nombre
                </label>
                <input disabled type="text" [value]="loan.farmer.PrimerNombre" />
              </div>
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/ID.svg" alt="" />
                  Cédula
                </label>
                <input disabled type="text" [value]="loan.farmer.cc" />
              </div>
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/CellPhone.svg" alt="" />
                  Celular
                </label>
                <input disabled type="text" [value]="loan.farmer.cellphone" />
              </div>
              <div class="input-1  -readonly" *ngIf="loan.farmer.phone">
                <label for="">
                  <img src="/assets/Loan/Phone.svg" alt="" />
                  Teléfono
                </label>
                <input disabled type="text" [value]="loan.farmer.phone" />
              </div>
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Address.svg" alt="" />
                  Dirección
                </label>
                <input disabled type="text" [value]="loan.farmer.DireccionRes" />
              </div>
            </div>
          </div>
        </div>
        <div class="brief-step">
          <div class="check-wrapper -connect">
            <div class="step -check">1</div>
          </div>
          <div class="info-wrapper">
            <h3>Información bancaria de agricultor</h3>
            <div class="info-space">
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Bank.svg" alt="" />
                  Entidad bancaria
                </label>
                <input disabled type="text" [value]="loan.bankInformation.bank.name" />
              </div>
              <div class="input-1  -readonly" *ngIf="loan.bankInformation.accountType">
                <label for="">
                  <img src="/assets/Loan/Account-Type.svg" alt="" />
                  Tipo de Cuenta
                </label>
                <input disabled type="text" [value]="
                          loan.bankInformation.accountType === 0
                            ? 'Ahorros'
                            : 'Corriente'
                        " />
              </div>
              <div class="input-1  -readonly" *ngIf="loan.bankInformation.accountNumber">
                <label for="">
                  <img src="/assets/Loan/Account-Number.svg" alt="" />
                  Número de cuenta
                </label>
                <input disabled type="text" [value]="loan.bankInformation.accountNumber" />
              </div>
            </div>
          </div>
        </div>
        <div class="brief-step">
          <div class="check-wrapper -connect">
            <div class="step -check">1</div>
          </div>
          <div class="info-wrapper">
            <h3>Prestamo</h3>
            <div class="info-space">
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Amount.svg" alt="" />
                  Monto
                </label>
                <input disabled type="text" [value]="'$' + (loan.amount | currency: '$':'symbol':'1.0-0')" />
              </div>
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Periodicity.svg" alt="" />
                  Plazo
                </label>
                <input disabled type="text" [value]="loan.paymentPeriodicity + ' meses'" />
              </div>

              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Interest.svg" alt="" />
                  Interés
                </label>
                <input disabled type="text" [value]="loan.interestRate + '%'" />
              </div>
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Deal.svg" alt="" />
                  Ecosistema
                </label>
                <input disabled type="text" [value]="loan.agreement ? loan.agreement.name : 'Ninguno'" />
              </div>
            </div>
          </div>
        </div>
        <div class="brief-step">
          <div class="check-wrapper">
            <div class="step -check">1</div>
          </div>
          <div class="info-wrapper">
            <h3>Desembolsos</h3>
            <div class="outlay -readonly">
              <div class="outlay-alert">
                <img src="/assets/Loan/Alert.svg" alt="" />
                <p class="-bold">Siguiente desembolso</p>
              </div>
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Outlay.svg" alt="" />
                  Desembolso
                </label>
                <input disabled type="text" [value]="
                          '$' + (loan.amount | currency: '$':'symbol':'1.0-0')
                        " />
              </div>
              <div class="input-1  -readonly">
                <label for="">
                  <img src="/assets/Loan/Date.svg" alt="" />
                  Fecha
                </label>
                <input disabled type="text" [value]="loan.outlayDate | date" />
              </div>
            </div>
          </div>
        </div>
        <div class="brief-step">
          <div class="check-wrapper">
            <div class="step -check">1</div>
          </div>
          <div class="info-wrapper">
            <h3>Amortización</h3>
            <div class="outlay -readonly">
              <div class="additional-outlays">
                <div class="input-1  -readonly">
                  <label for="">
                    <img src="/assets/Loan/Outlay.svg" alt="" />
                    Cuota
                  </label>

                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="i + 1" />
                  </ng-container>
                </div>
                <div class="input-1  -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Fecha pago
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="qo.date | date" />
                  </ng-container>
                </div>
                <div class="input-1  -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Saldo actual
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="
                              '$' + (qo.amount | currency: '$':'symbol':'1.0-0')
                            " />
                  </ng-container>
                </div>

                <div class="input-1  -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Pago a capital
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="
                              '$' + (qo.paymentCapital | currency: '$':'symbol':'1.0-0')
                            " />
                  </ng-container>
                </div>
                <div class="input-1  -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Abono interses
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="
                              '$' + (qo.taxAmount | currency: '$':'symbol':'1.0-0')
                            " />
                  </ng-container>
                </div>
                <div class="input-1  -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Otros
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="
                          '$' + (qo.othersServices | currency: '$':'symbol':'1.0-0')
                        " />
                  </ng-container>
                </div>
                
                <div class="input-1  -readonly">
                  <label for="">
                    <img src="/assets/Loan/Date.svg" alt="" />
                    Total
                  </label>
                  <ng-container *ngFor="let qo of quotes; let i = index">
                    <input disabled type="text" [value]="
                          '$' + (qo.total | currency: '$':'symbol':'1.0-0')
                        " />
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <button class="btn-1 -secondary" (click)="back()">Volver</button>
              <button class="btn-1" (click)="submit()">Crear crédito</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>