<div class="input2-1" style="margin-bottom: 1rem; width: 100%">
  <label>
    <span class="placeholder">{{ to.label }}</span>
  </label>
  <input
    #input
    [formControl]="formControl"
    [formlyAttributes]="field"
    [type]="to.type"
    [attr.step]="to.type === 'number' ? 'any' : ''"
    [style.width]="to['width'] || '100%'"
    [ngClass]="{ 'form-error': showError}"
    (keyup)="closeSuggestion = false; keyup($event)"
    (focus)="selected = true"
    [autocomplete]="to['predictions'] ? 'ÑøoComplE123' : 'on'"
  />
  <div
    *ngIf="to['predictions']"
    class="predictions"
    [class.-selected]="selected"
  >
    <label
      class="input2-checkbox-space"
      *ngFor="
        let prediction of to['predictions'] | filter: formControl.value || ''
      "
    >
      <input type="checkbox" (click)="selectSuggestion(prediction)" />
      <span class="checkmark"></span>
      <p>{{ prediction }}</p>
    </label>
    <label
      class="input2-checkbox-space"
      *ngIf="(to['predictions'] | filter: formControl.value || '').length === 0"
      (click)="selectSuggestion('')"
    >
      <input type="checkbox" />
      <span class="checkmark"></span>
      <p>No hay coincidencias</p>
    </label>
  </div>
  <ng-template [ngIf]="showError">
    <div class="light form-error" *ngFor="let error of errors()">
      {{ error }}
    </div>
  </ng-template>
</div>
