@import "~src/styles/app.scss";
@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";

.content {
  margin: 2em;
}

.current-loan-balance {
  font-size: 1.3em;
  font-weight: 600;
}

.avatar {
  width: 5em;
  height: 5em;
  margin-left: 0em !important;
  object-fit: cover;
  object-position: top left;
  border-radius: 50%;
}

.contact-icons {
  .icon {
    background-color: $light-blue;
    margin-right: auto;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.credit-panel {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.credit-spacer {
  border-right: 1px solid;
  border-color: $font-gray;
  height: 100%;
  padding: 0;
}

.contact-icons {
  .icon {
    img {
      width: 50%;
    }
  }
}

.middle-margin {
  margin: 0 1em;
}

.credit-info {
  background-color: $white;
  border-radius: 1em;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  flex-basis: 40%;

  &.second {
    flex-basis: 18%;
  }
}

.credit-calendar {
  background-color: $white;
  border-radius: 1em;
  width: 100%;

  ul {
    list-style: none;
    white-space: nowrap;
    padding: 0em 1em;
    border-right: 1px solid $font-gray;

    li {
      text-align: center;
      padding: 1em 1em;

      p {
        text-align: left;
      }
    }
  }
}

.tab-manager {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid gray;
  cursor: pointer;

  .tab {
    color: $font-gray;
    margin-right: 3em;
    padding: 0 1em 0.5em;

    &.selected {
      color: $light-blue;
      border-bottom: 3px solid $light-blue;
    }
  }
}

.alert-calendar {
  color: white;
  background-color: $yellow;
  border-radius: 1em;
}

.credit-timeline {
  $margin: 1px dashed $blue-gray;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;

  .head-row {
    border-bottom: 1px solid $table-border;

    td:nth-child(even) {
      background-color: $light-bg;
    }
  }

  th,
  td {
    white-space: nowrap;
    border-left: $margin;
    border-right: $margin;
    text-align: center;
  }

  td .header {
    overflow: hidden;
    width: 200px;
    padding-top: 5px;
    margin-bottom: 5px;
  }

  td .outlay {
    overflow: hidden;
    width: 200px;
    padding: 10px 0;
    color: $white;
    background-color: $yellow;
    border-radius: 0.5em;
    text-align: center;
  }

  td .invoice {
    overflow: hidden;
    width: 200px;
    padding: 10px 0;
    color: $white;
    background-color: $light-blue;
    border-radius: 0.5em;
    text-align: center;

    .quote-invoice {
      display: flex;
      flex-direction: column;
    }
  }

  td .warning {
    overflow: hidden;
    width: 200px;
    padding: 10px 0;
    color: $white;
    background-color: $red;
    border-radius: 0.5em;
    text-align: center;
  }

  td .void {
    overflow: hidden;
    width: 200px;
    padding: 10px 0;
    text-align: center;
  }
}

.cnt-info {
  width: 100%;
  @include flex(row, center, space-between);
}

.back {
  border: $light-blue solid 2px;
  border-radius: 10px;
  background-color: $lighter-blue;
  color: $light-blue;
  padding: 0 30px;
  margin-right: 30px;
}

.no-payed {
  color: #e35558;
}

.flex {
  @include flex(row, flex-start, space-between);
}
