<div class="content">
  <div class="flex-container">
    <img class="avatar flex-item" [src]="user['photoProfile'] ? user['photoProfile'] : '/assets/rol_1.svg'" />
    <div class="flex-item">
      <h1 class="title">{{ getCompleteName(user) }}</h1>
      <p class="light">{{ user.address }}</p>
    </div>
    <div class="flex-item">
      <p class="light">Comunicarme con mi asesor</p>
      <div class="contact-icons flex-container">
        <div class="icon">
          <img src="/assets/phone.svg" />
        </div>
        <div class="icon">
          <img src="/assets/correo.svg" />
        </div>
        <div class="icon" (click)="navigateToProfileFarmer(user)">
          <img src="/assets/admin-usuario-white.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="tab-manager">
    <p class="tab small-font bold" *ngFor="let loan of loans; let i = index" [class.selected]="i == actualLoan"
      (click)="setActualLoan(i)">
      Crédito #{{ i + 1 }} -
      {{ loan.amount || 0 | currency:'$ ':'symbol':'0.0-0' }}
    </p>
  </div>
  <div class="tab-content" *ngIf="currentLoan">
    <div class="flex-container" style="margin-bottom: 1em;">
      <div class="flex-container credit-info">
        <div class="credit-panel">
          <p class="light bold">Crédito hasta la fecha</p>
          <h1 class="current-loan-balance">
            {{ currentLoan.balance | currency: '$ ':'symbol':'0.0-0' }}
          </h1>
        </div>
        <div class="credit-spacer"></div>
        <div class="credit-panel">
          <p class="light small-font bold">Desembolso</p>
          <h3 class="w400">
            {{ currentLoan.outlayDate.toDate() | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES"}}
          </h3>
          <p class="light small-font bold">Crédito total</p>
          <h3 class="w400">
            {{
              (loans.length > 0 ? currentLoan.amount : 0)
                | currency: '$ ':'symbol':'0.0-0'
            }}
          </h3>
        </div>
      </div>
      <div class="flex-container credit-info middle-margin second">
        <div class="credit-panel">
          <p class="light bold">Cuotas restantes</p>
          <h2 class="w400 -blue">{{ currentLoan.stateBilling.pendingQuotes || "" }} cuotas</h2>
        </div>
        <div class="credit-spacer"></div>
        <div class="credit-panel">
          <p class="light bold">Cuotas pagadas</p>
          <h2 class="w400 -blue">{{ currentLoan.stateBilling.payedQuotes || 0 }} cuotas</h2>
        </div>
      </div>
      <div class="flex-container credit-info second">
        <div class="credit-panel text-left">
          <p class="light bold">
            Tasa de interés
          </p>
          <br />
          <p class="light bold">
            Número de Cuotas
          </p>
          <br />
          <p class="light bold">
            Producto
          </p>
        </div>
        <div class="credit-panel text-right">
          <p>
            {{
              loans.length > 0 ? currentLoan.interestRate : 0 || ""
            }}%
          </p>
          <br />
          <p>{{ quotes ? quotes.length || 0 : "" }}</p>
          <br />
          <p>
            {{ loans.length > 0 ? currentLoan.product.name : "" || "" }}
          </p>
        </div>
      </div>
    </div>
    <div class="warning-container" *ngIf="outlay" [class.yellow]="outlay">
      <div class="flex-container align-items-center flex-item">
        <div class="icon">
          <img *ngIf="outlay" src="/assets/alerta.svg" />
          <img *ngIf="!outlay" src="/assets/desembolso-font.svg" />
        </div>
        <p class="">{{outlay.farmer}} tiene un próximo desembolso</p>
      </div>
      <div class="flex-container flex-item">
        <div class="warning-info">
          <h5 class="w400">Monto</h5>
          <p>{{ outlay.amount | currency: "$":"symbol":"1.0-0":'CO' }}</p>
        </div>

        <div class="cnt-info">
          <div class="warning-info">
            <h5 class="w400">Fecha</h5>
            <p>{{ outlay.date }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="warning-container" *ngIf="mora" [class.red]="mora">
      <div class="flex-container align-items-center flex-item">
        <div class="icon">
          <img src="/assets/advertencia.svg" />
        </div>
        <p>En mora</p>
      </div>
      <div class="flex-container flex-item">
        <div class="icon-text">
          <p>
            T1
          </p>
        </div>
        <div class="warning-info">
          <h5 class="w400">Tiempo de mora</h5>
          <p>50 días</p>
        </div>
        <div class="warning-info">
          <h5 class="w400">Monto total de mora</h5>
          <p>{{ mora.amount | currency: "$":"symbol":"1.0-0":'CO' }}</p>
        </div>
        <div class="warning-info">
          <h5 class="w400">Intereses de mora</h5>
          <p>$50,000</p>
        </div>
      </div>
    </div>
    <div class="flex-container credit-calendar">
      <ul class="-gray">
        <li>
          <p class="-blue">
            Mis créditos
          </p>
          <a (click)="navigate()" class="txt-small -link">Ver historial completo ></a>
        </li>
        <li *ngIf="hasOutlays">
          <p>
            Desembolso
          </p>
        </li>
        <li *ngIf="hasInvoices">
          <p>
            Factura
          </p>
        </li>
        <li *ngIf="hasDebts">
          <p>
            Mora
          </p>
        </li>
      </ul>
      <div style="overflow-x:auto;">
        <table class="credit-timeline">
          <tr class="head-row">
            <td *ngFor="let day of calendar">
              <div class="header">
                <p class="txt-small -gray -bold">{{ day.month }}</p>
                <p class="-bold">{{ day.day }}</p>
              </div>
            </td>
          </tr>
          <tr *ngIf="hasOutlays">
            <td *ngFor="let item of calendar">
              <div [ngClass]="{
                  outlay: item.outlay.amount,
                  void: !item.outlay.amount
                }">
                <p *ngIf="!item.outlay.amount"></p>
                <p *ngIf="item.outlay.amount" class="txt-small">
                  Desembolso ({{
                    item.outlay.amount | currency: "$":"symbol":"1.0-0":'CO'
                  }})
                </p>
              </div>
            </td>
          </tr>
          <tr *ngIf="hasInvoices">
            <td *ngFor="let item of calendar; let i = index">
              <div [ngClass]="{
                  invoice: item.quote.date,
                  void: !item.quote.date
                }">
                <p *ngIf="!item.quote.date"></p>
                <p *ngIf="item.quote.date" class="txt-small quote-invoice">
                  <span>Factura #{{ item.quote.number }}</span>
                  <span>({{ item.quote.date }})</span>
                </p>
                <p *ngIf="item.deadline" class=""></p>
              </div>
            </td>
          </tr>
          <tr *ngIf="hasDebts">
            <td *ngFor="let item of calendar">
              <div [ngClass]="{
                  warning: item.debt.amount,
                  void: !item.debt.amount
                }" *ngIf="item.debt.amount && item.debt.daysInDebt">
                <p class="txt-small">
                  Mora ({{ item.debt.daysInDebt }} Días) (T1)
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="table-2">
      <div class="flex">
        <h1 style="padding-bottom: 1em;">Historial de facturas</h1>
        <button (click)="openModalAmortization()" class="back">
          Tabla de amortización
        </button>
      </div>
      <ngx-3a-datatable *ngIf="options" (rowClicked)="openInvoice($event)" [datatableOptions]="options">
      </ngx-3a-datatable>
    </div>
  </div>
</div>

<ng-template #fileDownload let-row="row" let-value="value">
  <a [href]="value" class="icon" target="_blank" download>
    <img src="/assets/flecha-dl.svg" alt="" />
  </a>
</ng-template>

<ng-template #date let-row="row" let-value="value">
  {{ value | date: "dd 'de' MMMM 'de' yyyy":"UTC-5":"es-ES" }}
</ng-template>

<ng-template #money let-row="row" let-value="value">
  {{ value | currency: "$":"symbol":"1.0-0":'CO' }}
</ng-template>

<ng-template #payed let-row="row" let-value="value">
  <span [ngClass]="{'no-payed': !value}">{{ value ? 'Pagada' : 'No pagada'}}</span>
</ng-template>