<app-modal></app-modal>
<div [ngClass]="{ loading: loading }"></div>
<div class="loader" *ngIf="loading"></div>
<div class="box">
  <div class="image">
    <img [src]="image" />
  </div>
  <div class="flex">
    <div class="content">
      <div class="title">
        <h1>¡Bienvenido a Agricapital!</h1>
      </div>
      <ngx-3a-forms-basic
        *ngIf="fields"
        [model]="user"
        [fields]="fields"
        (submit)="onSubmit()"
        #form
      ></ngx-3a-forms-basic>
      <button class="primary" (click)="onClickSubmit()">
        Registrarme
      </button>
    </div>
  </div>
</div>
