@import "~src/styles/app.scss";


.top-bar {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 4em;

  .left,
  .right {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    button {
      margin-left: 2em;
    }
  }

  .right {
    justify-content: flex-end;
  }
}

button {
  border: 2px solid $table-border;
  border-radius: 10px;
  padding: 0 2em;
  @include flex(row, center, center);
  flex-wrap: nowrap;
  white-space: pre;

  .button-icon {
    height: 20%;
    max-width: 2em;
  }

  &.light-blue {
    background-color: $lighter-blue;
    color: $light-blue;
    border-color: $light-blue;

    .button-icon {
      height: 30%;
    }
  }

  &.blue {
    background-color: $light-blue;
    color: white;
    border-color: $light-blue;

    .button-icon {
      height: 40%;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
