<div class="table">
  <div class="table-2 admin">
    <div class="top-bar">
      <div class="left">
        <h1>Usuarios</h1>
      </div>
      <div class="right">
        <button class="blue" (click)="openModal()">
          <img src="/assets/plus.svg" alt="" class="button-icon" />
          Agregar usuario
        </button>
      </div>
    </div>
    <ngx-3a-datatable *ngIf="options" [datatableOptions]="options">
    </ngx-3a-datatable>
    <div class="loader" *ngIf="showLoading"></div>
    <div class="empty-data-ui" *ngIf="showMessageEmptyData && !showLoading">
      <img src="/assets/sin_informacion.svg" alt="">
      <div class="text">
        Por ahora no hay usuarios registrados
      </div>
    </div>
  </div>
</div>

<ng-template #status let-row="row" let-value="value">
  <label class="switch">
    <input type="checkbox" [checked]="value === 1" (change)="checkValue(row)" />
    <span class="slider round"></span>
  </label>
</ng-template>

<ng-template #role let-row="row" let-value="value">
  {{ value === 0 ? "Analista" : "Agricultor" }}
</ng-template>
