@import '~src/styles/partials/variables';
@import '~src/styles/partials/mixins';


.content {
  width: 100%;
}

.title {
  font-weight: 600;
}

.columns {
  @include flex(row, center, space-between);
  margin-bottom: 15px;

  >div {
    @include flex(row, center, flex-start);
    width: 30%;
    font-weight: 600;
    font-size: 1.2rem;

    >img {
      width: 20px;
      margin-right: 6px;
    }
  }

  >div:last-child {
    width: 40px;
  }
}

.item {
  @include flex(row, flex-start, space-between);
  margin-bottom: 15px;

  >.input {
    width: 30%;

    >input {
      width: 100%;
      padding: 0;
      height: 40px;
      border: 2px solid $table-border;
      padding: 10px;
      border-radius: 14px;

      &.error {
        border: 2px solid $red;
      }
    }

    >.error1 {
      color: $red;
      font-size: 0.5rem;
    }
  }

  >.select {
    @include flex(row, center, space-between);
    width: 30%;
    padding: 0;
    height: 40px;
    border: 2px solid $table-border;
    padding: 8px;
    border-radius: 14px;

    >img {
      width: 15px;
    }
  }

  >.action {
    width: 40px;
    height: 40px;
    border-radius: 7px;

    &.add {
      border: $light-blue solid 2px;
      background-color: $lighter-blue;
    }

    &.delete {
      background-color: $red;

    }

    &>img {
      margin: 25%;
    }
  }
}

.controls {
  margin-top: 30px;
  width: 100%;
  @include flex(row, flex-end, flex-end);

  >.back {
    border: $light-blue solid 2px;
    border-radius: 10px;
    background-color: $lighter-blue;
    color: $light-blue;
    padding: 0 30px;
    margin-right: 30px;
  }

  >.save {
    border-radius: 10px;
    background-color: $light-blue;
    color: $white;
    padding: 0 30px;
  }
}
