<div class="content">
  <div class="title">Crear usuario</div>
  <div class="columns">
    <div><img src="/assets/nombre_1.svg" alt="" /> Nombre</div>
    <div><img src="/assets/email_1.svg" alt="" /> E-mail</div>
    <div><img src="/assets/rol_1.svg" alt="" /> Rol</div>
    <div></div>
  </div>

  <div class="item" *ngFor="let user of users; let i = index">
    <div class="input">
      <input
        type="text"
        placeholder="Nombre"
        [(ngModel)]="user.name.value"
        (ngModelChange)="nameChanged($event, i)"
        [ngClass]="{ error: user.name.error }"
      />
      <div class="error1" *ngIf="user.name.error">El nombre es invalido</div>
    </div>

    <div class="input">
      <input
        type="text"
        placeholder="E-mail"
        [(ngModel)]="user.email.value"
        (ngModelChange)="emailChanged($event, i)"
        [ngClass]="{ error: user.email.error }"
      />
      <div class="error1" *ngIf="user.email.error">El correo es invalido</div>
    </div>
    <select class="select" [(ngModel)]="user.role">
      <option *ngFor="let role of userRole" [value]="role.value">{{role.title}}</option>
      <img src="/assets/admin-flecha.svg" alt="" class="button-icon"/>
    </select>
    <button
      class="action"
      [ngClass]="{
        add: users.length - 1 === i,
        delete: i !== users.length - 1
      }"
      (click)="userAction(i, users.length - 1 === i)"
    >
      <img
        [src]="
          i == users.length - 1
            ? '/assets/agregar_2.svg'
            : '/assets/eliminar_1.svg'
        "
        alt=""
      />
    </button>
  </div>

  <div class="controls">
    <button class="back" (click)="cancel()">Volver</button>
    <button class="save" (click)="manageData()">Agregar usuario(s)</button>
  </div>
</div>
