<div class="content">
    <div class="icon">
      <img [src]="payload.icon" alt="">
    </div>
  
    <div class="message">
      <p>{{payload.text}}</p>
    </div>
  
    <div class="wrapper-buttons">
      <button class="btn-1 -secondary" *ngIf="payload.button1" type="button" (click)="close()">{{payload.button1}}</button>
      <button class="btn-1" *ngIf="payload.button2" (click)="confirmAction()">{{payload.button2}}</button>
    </div>
  </div>
  