@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";
@import "~src/styles/app.scss";
:host {
  overflow: hidden;
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  align-items: center;
  .icon {
    width: 200px;
    height: 200px;
    margin: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .message {
    margin: 20px;
    p {
      font-weight: 600;
      font-size: 20px;
    }
  }
  .wrapper-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
