<div class="table">
  <div class="table-2 admin">
    <div class="top-bar">
      <div class="left">
        <h1>Solicitudes de crédito</h1>
      </div>
      <div class="right">
        <button class="light-blue" (click)="displayFilters()">
          <img src="/assets/admin-filtros.svg" alt="" class="button-icon" />
          Filtros
        </button>
      </div>
    </div>
    <ngx-3a-datatable *ngIf="options" [datatableOptions]="options" (rowClicked)="navigateToProfileFarmer($event)"> </ngx-3a-datatable>
    <div class="empty-data-ui" *ngIf="showMessageEmptyData && !showLoading">
      <img src="/assets/sin_informacion.svg" alt="" />
      <div class="text">
        Por ahora no hay solicitudes de créditos registradas
      </div>
    </div>
    <div class="loader" *ngIf="showLoading"></div>
  </div>
</div>

 <ng-template #date let-row="row" let-value="value">
  {{ value.toDate() | date: "dd/MM/yyyy":"UTC-5" }}
</ng-template> 


<ng-template #money let-row="row" let-value="value">
  {{ value | currency: "$":"symbol":"1.0-0":"CO" }}
</ng-template>

<ng-template #createLoan let-row="row" let-value="value">
  <a (click)="openModal(row, $event)" class="icon">
    <img src="/assets/flecha-dl.svg" alt="" />
  </a>
</ng-template>

<ng-template #createComment let-row="row" let-value="value">
  <a (click)="openModalComments(row, $event)" class="icon">
    <img src="/assets/plus.svg" alt="" />
  </a>
</ng-template>
<ng-template #denyLoan let-row="row" let-value="value">
  <a (click)="ModalDeny(row, $event)" class="icon">
    <img src="/assets/close-white.svg" alt="" />
  </a>
</ng-template>

<ng-template #actions let-row="row" let-value="value">
  <div id="actions-container" class="actions-container">
    <a class="icon-hover">
      <img src="/assets/actions.svg" alt="" />
    </a>
    <div #actions class="actions animated fadeIn">
      <a (click)="navigateToProfileFarmer(row)" class="icon" *ngIf="currentUser.role === 5 || currentUser.role === 2">
        <img src="/assets/edit.svg" alt="" display="block" margin="auto" />
        <span>Editar</span>
      </a>
      <a
        (click)="ModalApprove(row, $event)"
        class="icon"
        *ngIf="currentUser.role === 0 || currentUser.role === 5 || currentUser.role === 7 || currentUser.role === 4"
      >
        <img src="/assets/check-icon.svg" alt="" />
        <span>{{ currentUser.role === 4 ? "Exitosa" : "Aprobar" }}</span>
      </a>
      <a
        (click)="ModalDeny(row, $event)"
        class="icon"
        *ngIf="currentUser.role === 0 || currentUser.role === 5 || currentUser.role === 7 || currentUser.role === 4"
      >
        <img src="/assets/close-white.svg" alt="" />
        <span>{{ currentUser.role === 4 ? "No exitosa" : "Negar" }}</span>
      </a>
      <a
        (click)="ModalReturn(row, $event)"
        class="icon"
        *ngIf="currentUser.role === 0 || currentUser.role === 5 || currentUser.role === 7 || currentUser.role === 4"
      >
        <img src="/assets/return.svg" alt="" />
        <span> {{ currentUser.role === 4 ? "No contactibilidad" : "Devolver" }} </span>
      </a>
      <a (click)="ModalComite(row, $event)" class="icon" *ngIf="currentUser.role === 0 || currentUser.role === 5">
        <img src="/assets/comite.svg" alt="" />
        <span>Comité</span>
      </a>
      <a (click)="openModalComments(row, $event)" class="icon" *ngIf="currentUser.role === 0 || currentUser.role === 5 || currentUser.role === 7">
        <img src="/assets/comment.svg" alt="" />
        <span>Comentarios</span>
      </a>
    </div>
  </div>

  <!--  <a (click)="ModalApprove(row, $event)" class="icon">
    <img src="/assets/check-icon.svg" alt="" />
  </a> -->
</ng-template>

<ng-template #returnLoan let-row="row" let-value="value">
  <a (click)="ModalReturn(row, $event)" class="icon">
    <img src="/assets/return.svg" alt="" />
  </a>
</ng-template>

<ng-template #SendComite let-row="row" let-value="value">
  <a (click)="ModalComite(row, $event)" class="icon">
    <img src="/assets/return.svg" alt="" />
  </a>
</ng-template>

<ng-template #editLoan let-row="row" let-value="value">
  <a (click)="navigateToProfileFarmer(row)" class="icon">
    <img src="/assets/edit.svg" alt="" display="block" margin="auto" />
  </a>
</ng-template>

<ng-template #stateLoan let-row="row" let-value="value">
  <span class="state">
    {{ showState(value) }}
  </span>
</ng-template>

<ng-template #stateLoanRef let-row="row" let-value="value">
  <span class="state">
    {{ showstateref(value) }}
  </span>
</ng-template>
