@import "~src/styles/app.scss";
:host {
  display: block;
  width: 100%;
  height: 100%;

  .wrapper-filters {
    padding: 0 32px;
    margin-top: 5px;
    .header-year {
      display: flex;
      justify-content: space-between;
      margin: 8px 5px;
      button {
        border: none;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 15px;
          height: 15px;
        }
      }
      button:nth-child(1) {
        transform: rotate(90deg);
      }
      button:nth-child(3) {
        transform: rotate(-90deg);
      }
      button:hover {
        background-color: $bg;
      }
    }
    .body-months {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      button {
        border: 2px solid #d9e0e6;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        white-space: pre;
        height: 38px;
      }

      button:hover{
        background: #d9e0e657;
      }
    }
  }
}
