<div class="wrapper-filters">
    <div class="header-year">
        <button (click)="backYear()"><img src="/assets/Select-Arrow.svg" alt=""></button>
        <span>{{this.currentYear}}</span>
        <button (click)="nextYear()"><img src="/assets/Select-Arrow.svg" alt=""></button>
    </div>
    <div class="body-months">
        <button *ngFor="let month of months" class="select" (click)="monthSelected(month.value)">{{month.title}}</button>
    </div>
</div>