<div class="modal-space -full" *ngIf="event && event.type !== -1" [class.-selected]="visible" (click)="close()"
  [ngSwitch]="event.type">
  <app-add-user *ngSwitchCase="0" [_payload]="event.payload" (confirmed)="handleAction(event.confirmation, $event)"
    (canceled)="handleAction(event.cancelation)" (click)="$event.stopPropagation()" class="-small"></app-add-user>
  <app-outlay-config *ngSwitchCase="2" [_payload]="event.payload" (confirmed)="handleAction(event.confirmation, $event)"
    (canceled)="handleAction(event.cancelation)" (click)="$event.stopPropagation()" class="-small"></app-outlay-config>
  <app-amortization *ngSwitchCase="3" [_payload]="event.payload" (confirmed)="handleAction(event.confirmation, $event)"
    (canceled)="handleAction(event.cancelation)" (click)="$event.stopPropagation()" class="-small"></app-amortization>
  
  <app-add-conciliation *ngSwitchCase="4" [_payload]="event.payload"
    (confirmed)="handleAction(event.confirmation, $event)" (canceled)="handleAction(event.cancelation)"
    (click)="$event.stopPropagation()" class="-small"></app-add-conciliation>

    <app-apply-filters *ngSwitchCase="5" [_payload]="event.payload"
    (confirmed)="handleAction(event.confirmation, $event)" (canceled)="handleAction(event.cancelation)"
    (click)="$event.stopPropagation()" class="-filters"></app-apply-filters>

    <app-alert-message *ngSwitchCase="6" [_payload]="event.payload"
    (confirmed)="handleAction(event.confirmation, $event)" (canceled)="handleAction(event.cancelation)"
    (click)="$event.stopPropagation()" class="-alert"></app-alert-message>

    <app-add-file-attachment *ngSwitchCase="7" [_payload]="event.payload"
    (confirmed)="handleAction(event.confirmation, $event)" (canceled)="handleAction(event.cancelation)"
    (click)="$event.stopPropagation()" class="-small"></app-add-file-attachment>

    <app-comments *ngSwitchCase="8" [_payload]="event.payload"
    (confirmed)="handleAction(event.confirmation, $event)" (canceled)="handleAction(event.cancelation)"
    (click)="$event.stopPropagation()" class="-small" ></app-comments>

    <app-return *ngSwitchCase="11" [_payload]="event.payload"
    (confirmed)="handleAction(event.confirmation, $event)" (canceled)="handleAction(event.cancelation)"
    (click)="$event.stopPropagation()" class="-small" ></app-return>

</div>
<div class="modal-space -full-white" *ngIf="fullEvent && fullEvent.type !== -1" [class.-selected]="fullVisible"
  [ngSwitch]="fullEvent.type">
  <app-add-loan *ngSwitchCase="1" [_payload]="fullEvent.payload"
    (confirmed)="handleAction(fullEvent.confirmation, $event)" (canceled)="handleAction(fullEvent.cancelation)"
    (click)="$event.stopPropagation()" class="-small"></app-add-loan>

  <app-add-loan-conditions *ngSwitchCase="9" [_payload]="fullEvent.payload"
    (confirmed)="handleAction(fullEvent.confirmation, $event)" (canceled)="handleAction(fullEvent.cancelation)"
    (click)="$event.stopPropagation()" class="-small"></app-add-loan-conditions>

  <!--<app-add-bankInfo *ngSwitchCase="10" [_payload]="fullEvent.payload"
    (confirmed)="handleAction(fullEvent.confirmation, $event)" (canceled)="handleAction(fullEvent.cancelation)"
    (click)="$event.stopPropagation()" class="-small"></app-add-bankInfo> -->
  <!-- <div class="loading" *ngIf="event && loading">
    <img src="/assets/loading.gif" alt="" />
  </div> -->
</div>
<!-- <div class="modal-space" *ngIf="alert" [class.selected]="alertVisible" (click)="close()">
  <div class="alert-modal" (click)="$event.stopPropagation()">
    <div class="montserrat">{{ alert.title }}</div>
    <div [innerHTML]="alert.content"></div>
    <div class="button-space">
      <button *ngIf="alert.cancelation" class="btn-1 gray" (click)="handleAction(alert.cancelation, {})">
        {{ alert.cancelation.text }}
      </button>
      <button class="btn-1" (click)="handleAction(alert.confirmation, {})">
        {{ alert.confirmation ? alert.confirmation.text : "OK" }}
      </button>
    </div>
  </div>
</div> -->