@import "~src/styles/partials/variables";
@import "~src/styles/partials/mixins";

.modal-space {
  left: 10%;
  padding: 5% 5% 5% 5%;
  overflow-y: auto;

  .-filters {
    position: absolute;
    left: 0;
    top: 5%;
    width: 435px !important;
    height: 95vh;
  }

  .-alert{
    width: 450px !important;
  }

  &.-full {
    left: 0;
    padding: 0;
    background-color: rgba($black, 0.8);
    @include flex(column, center, center);

    & > * {
      width: 70%;
      max-height: 90%;
      @include transition(0.25s);
    }

    & ::ng-deep .title {
      margin-bottom: 35px;
    }

    & ::ng-deep .content {
      background-color: $white;
      padding: 5%;
      border-radius: 20px;
    }

    
  }

  &.-full-white {
    left: 0;
    padding: 0;
    background-color: $bg;
    @include flex(column, center, flex-start);

    & > * {
      @include transition(0.25s);
    }

    & ::ng-deep .title {
      margin-bottom: 35px;
    }

    & ::ng-deep .content {
      background-color: $white;
      padding: 5%;
      border-radius: 20px;
    }
  }

  

  & ::ng-deep .title {
    font-size: 1.4rem;
  }

  & ::ng-deep .content {
    @include flex(column, null, space-around);
    min-height: 100%;
    overflow: scroll;
  }
}
