<div class="input2-1" style="margin-bottom: 1rem; width: 100%">
    <label>
      <span class="placeholder">{{ to.label }}</span>
    </label>
    <input
      #input
      [formControl]="formControl"
      [formlyAttributes]="field"
      [type]="to.type || 'password'"
      [attr.step]="to.type === 'number' ? 'any' : ''"
      [style.width]="to['width'] || '100%'"
      [ngClass]="{ 'form-error': showError}"
      (keyup)="closeSuggestion = false; keyup($event)"
      (focus)="selected = true"
      [autocomplete]="to['predictions'] ? 'ÑøoComplE123' : 'on'"
    />
    <ng-template [ngIf]="showError">
      <div class="light form-error" *ngFor="let error of errors()">
        {{ error }}
      </div>
    </ng-template>
  </div>
  