@charset "UTF-8";
p {
  font-size: 16px;
}
@media (min-width: 600px) {
  p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 20px;
  }
}

h2 {
  color: #a4afbb;
}

.txt-small {
  font-size: 12px;
}
@media (min-width: 600px) {
  .txt-small {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .txt-small {
    font-size: 14px;
  }
}
.txt-small.-red {
  color: #e35558;
}
.txt-small.-link {
  color: #1479fb;
  text-decoration: underline;
  cursor: pointer;
}
.txt-small.-notification {
  color: white;
}
.txt-small.-notification.-alert {
  background-color: #feb44e;
  margin: 1em;
  border-radius: 2em;
}

.-bold {
  font-weight: 700;
}

.-light {
  font-weight: 300;
}

.-gray {
  color: #a4afbb;
}

.-blue {
  color: #13365b;
}

button.primary {
  background-color: #1479fb;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  font-weight: 600;
}

.btn-1 {
  padding: 10px 30px;
  color: #ffffff;
  background-color: #1479fb;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.25s;
}
.btn-1:hover {
  background-color: #0355bf;
}
.btn-1.-secondary {
  color: #1479fb;
  border: 1px solid #1479fb;
  background-color: #e5f5ff;
}
.btn-1.-secondary:hover {
  background-color: #ccebff;
}
.btn-1.-red {
  background-color: #e35558;
}
.btn-1.-red:hover {
  background-color: #ca2125;
}
.btn-1:disabled,
.btn-1[disabled] {
  background-color: rgba(164, 175, 187, 0);
  border: 2px solid #a4afbb;
  color: #a4afbb;
  opacity: 0.35;
  cursor: not-allowed;
}
.btn-1 > img {
  height: 1.25rem;
  margin-right: 15px;
  vertical-align: middle;
}

/* Estilos del input y label */
label {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

input[type="submit"],
input[type="reset"],
input {
  background-color: white;
  border-color: white;
  border-radius: 0.5em;
  height: 3em;
  padding: 1em;
  color: inherit;
  border: none;
  font: inherit;
  outline: none;
  width: 100%;
}
input[type="submit"].form-error,
input[type="reset"].form-error,
input.form-error {
  border: 1px solid #e35558;
}

.form-error {
  margin: 0.5em 0;
  color: #e35558;
}

button {
  height: 3em;
  padding: 1em;
}

formly-form {
  display: grid;
  column-gap: 15px;
}

/* Configuración del check box? */
.checkbox-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #e35558;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 105%;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-1 {
  display: flex;
  flex-direction: column;
}
.input-1 > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.25s;
}
.input-1 > label > img {
  width: 1.5rem;
  max-height: 1.5rem;
  margin-right: 10px;
}
.input-1 > input,
.input-1 > select {
  width: 100%;
  height: auto;
  padding: 15px 20px;
  border: 1px solid #d7e1e7;
  border-radius: 15px;
  font-weight: 700;
  transition: all 0.25s;
}
.input-1 > input:focus,
.input-1 > select:focus {
  border: 1px solid #678da4;
}
.input-1 > input:disabled,
.input-1 > select:disabled {
  padding: 0 0 0 calc(1.5rem + 10px);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(215, 225, 231, 0);
  background-image: none;
}
.input-1 > select {
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/assets/Select-Arrow.svg);
  background-size: 15px auto;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}
.input-1.-readonly > label {
  color: #a4afbb;
  margin-bottom: 0;
}

.radio-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-right: 20px;
  padding: 15px 20px;
  border: 1px solid #d7e1e7;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s;
}
.radio-input:last-child {
  margin-right: 0;
}
.radio-input > .radio-select {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #d7e1e7;
  transition: all 0.25s;
}
.radio-input:hover {
  border-color: #87a5b7;
}
.radio-input:hover > .radio-select {
  background-color: #87a5b7;
}
.radio-input.-selected {
  border-color: #1479fb;
  color: #1479fb;
}
.radio-input.-selected > .radio-select {
  background-color: #1479fb;
}

.table-2 .datatable-header,
.table-2 .datatable-body-row {
  padding: 1rem 0;
  cursor: pointer;
  transition: all 0.25s;
}
.table-2 .datatable-header:hover,
.table-2 .datatable-body-row:hover {
  background-color: #fcfcfc;
}

.table-2 {
  margin: 18px;
  padding: 2em 2em;
  background-color: #ffffff;
  border: 1px 1em solid #fff;
  border-radius: 10px;
  height: 90vh;
  box-shadow: 10px 10px 19px -5px rgba(207,203,207,1);
}
.table-2 .datatable-header {
  padding: 1.25% 5%;
  border-top: #a4afbb;
  color: #333e58;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  background-color: #f9fafb;
}
.table-2 .datatable-body-row {
  padding: 1.25% 5%;
  border-bottom: 1px solid #d9e0e6;
  font-size: 16px;
}
.table-2 .datatable-body-cell-red {
  color: #e35558;
}
.table-2 .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: #1479fb;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms;
}
.table-2 .icon:hover {
  background-color: rgba(20, 120, 251, 0.25);
}
.table-2 .icon > img {
  height: 50%;
}

html,
body,
.body-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.body-wrapper {
  padding: 15px;
}

body {
  background-color: #f5f5fb;
  font-size: 100%;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333e58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button,
select,
a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
  transition: all 0.25s;
}

h1.title {
  font-size: 2.3em;
  font-weight: 600;
}

p.light {
  color: #a4afbb;
  font-weight: 400;
  font-size: 1em;
}

.w400 {
  font-weight: 400;
}

h1.title,
p.light {
  width: 100%;
  margin: 1%;
}

.flex-container {
  display: flex;
}

.flex-item {
  margin: 1em;
}

.align-items-center {
  align-items: center;
}

* > .bold {
  font-weight: bold;
}

.small-font {
  font-size: small !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.alert-container {
  color: #feb44e;
  background-color: #feeebe;
  border-radius: 1em;
  margin: 1em 0;
  height: auto;
  align-items: center;
  border: solid 1px #feb44e;
  padding: 0.5em 0;
}
.alert-container .icon {
  margin-left: 1em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-container .icon img {
  width: 50%;
}

.warning-container {
  color: #333e58;
  border-radius: 1em;
  margin: 1em 0;
  height: auto;
  padding: 0.5em 0;
  align-items: center;
  border: solid 1px #d9e0e6;
  background-color: #ffffff;
}
.warning-container.red {
  color: #e35558;
  border-color: #e35558;
  background-color: #ffe1db;
}
.warning-container.yellow {
  border-color: #feb44e;
  background-color: #feeebe;
  color: #feb44e;
}
.warning-container .icon {
  margin-left: 1em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.warning-container .icon img {
  width: 60%;
}
.warning-container .icon-text {
  margin-left: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e35558;
  color: #ffffff;
}
.warning-container .warning-info {
  margin-left: 2em;
}

/*# sourceMappingURL=app.css.map */
