.form-wrapper {
  padding: 2% 1.5%;
  border-radius: 25px;
  background-color: #ffffff; }
  .form-wrapper > h2 {
    margin-bottom: 2%;
    color: #333e58; }
  .form-wrapper > .button-wrapper {
    margin-top: 4%; }

.loan-wrapper > *,
.outlay-wrapper > * {
  margin-bottom: 2%; }
  .loan-wrapper > *:last-child,
  .outlay-wrapper > *:last-child {
    margin-right: 0; }

.outlay-brief > h3 {
  color: #a4afbb;
  font-weight: 600; }

.outlay-brief > .total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-top; }
  .outlay-brief > .total > .money-substract {
    margin-left: 7.5px;
    font-size: 0.75rem;
    color: #a4afbb; }

.outlay {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0 2%;
  transition: all 0.25s; }
  .outlay > .outlay-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2%; }
    .outlay > .outlay-alert > img {
      height: 1.5rem;
      margin-right: 10px; }
    .outlay > .outlay-alert > p {
      font-size: 1rem; }
  .outlay > * {
    margin-right: 2%; }
  .outlay > button {
    margin-right: 0;
    margin-left: auto; }
  .outlay.-readonly {
    padding: 2%;
    background-color: #f5f5fb;
    border: 1px solid #d7e1e7;
    border-radius: 15px; }
  .outlay.-brief > .input-1:nth-child(odd) {
    margin-right: 100%; }
  .outlay.-brief > .input-1:first-child {
    margin-right: 0; }

.additional-outlays {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin: 2% 0 0;
  padding-top: 2%;
  border-top: 1px solid #d7e1e7; }
  .additional-outlays > * {
    margin-right: 2%; }

.steps-timeline {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .steps-timeline::before, .steps-timeline::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #D7E1E7;
    transform: translateY(-50%);
    transition: all 0.25s; }
  .steps-timeline::after {
    background-color: #1479fb;
    width: 0; }
  .steps-timeline.-step-2::after {
    width: 33.33%; }
  .steps-timeline.-step-3::after {
    width: 66.66%; }
  .steps-timeline.-step-4::after {
    width: 100%; }

.step {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #d7e1e7;
  transition: all 0.25s;
  overflow: hidden; }
  .step::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Loan/Check.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.25s; }
  .step.-focus, .step.-check {
    border: 1px solid #1479fb;
    color: #1479fb; }
  .step.-check {
    background-color: #1479fb; }
    .step.-check::after {
      opacity: 1;
      transform: translateY(0); }

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-top;
  justify-content: space-between;
  flex-wrap: wrap; }
  .input-wrapper > .form-col {
    width: 49%;
    margin-bottom: 2%; }
    .input-wrapper > .form-col.-long {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%; }

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  .button-wrapper > * {
    margin-right: 20px; }
    .button-wrapper > *:last-child {
      margin-right: 0; }

.brief-step {
  display: flex;
  flex-direction: row; }
  .brief-step:first-child > .info-wrapper {
    border-radius: 15px 15px 0 0; }
  .brief-step:last-child > .info-wrapper {
    border-radius: 0 0 15px 15px; }
  .brief-step > .check-wrapper {
    position: relative;
    padding: 2% 20px; }
    .brief-step > .check-wrapper.-connect::after {
      content: '';
      position: absolute;
      top: 2vw;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: #1479fb;
      transform: translateX(-50%); }
  .brief-step > .info-wrapper {
    width: 100%;
    padding: 2%;
    background-color: #ffffff; }
    .brief-step > .info-wrapper > h3 {
      margin-bottom: 2%; }
    .brief-step > .info-wrapper > .info-space {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2%;
      background-color: #f5f5fb;
      border: 1px solid #d7e1e7;
      border-radius: 15px; }
      .brief-step > .info-wrapper > .info-space > .input-1 {
        margin-right: 20px; }
        .brief-step > .info-wrapper > .info-space > .input-1:last-child {
          margin-right: 0; }
    .brief-step > .info-wrapper > .button-wrapper {
      margin-top: 4%; }

/*# sourceMappingURL=loan.css.map */