.modal-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.25s; }
  .modal-space.-selected {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8); }
    .modal-space.-selected > * {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: 0.25s;
      top: 0;
      opacity: 1; }
      .modal-space.-selected > * > * {
        transition: 0.25s;
        top: 0;
        opacity: 1; }

/*# sourceMappingURL=modals.css.map */