@import "~src/styles/app.scss";

.sidebar {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0 4em 2.5em;
  background-color: $white;
  height: 100vh;
  overflow-y: auto;
  .logo {
    width: 100%;
    margin-bottom: 5em;
    padding-right: 2em;
  }

  .side-item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 1.8em;
    align-items: center;
    cursor: pointer;
    transition: all 250ms;

    &.selected {
      //add selected style
    }

    &:hover {
      opacity: 0.7;
    }

    .icon-bg {
      height: 2.4em;
      width: 2.4em;
      background-color: $lighter-blue;
      margin-right: 1.5em;
      @include flex(row, center, center);
      border-radius: 10px;

      .icon {
        height: 50%;
      }
    }

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
