<div class="sidebar">
  <img class="logo" src="/assets/logo.png" alt="" />
  <div class="side-item" *ngFor="let item of currentMenu" [ngClass]="{ selected: currentTab === item.url }" (click)="navigate(item.url)">
    <div class="icon-bg">
      <img class="icon" [src]="item.icon" alt="" />
    </div>
    <p>{{item.title}}</p>
  </div> 
  <div class="side-item" (click)="logOut()">
    <p>Cerrar sesión</p>
  </div>
</div>
